<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>

    <ul class="d-flex">
        <li><button id="coronaButton">Corona</button></li>
        <li><button id="ebolaButton">Ebola</button></li>
        <li><button id="malariaButton">Malaria</button></li>
    </ul>
</div>



<div id='mapCorona' style='width: 50vw; height: 60vh; margin-left: auto; margin-right: auto;'></div>
<input type="text" id="inputCorona">
<button id="buttonCoronaSearch">Go to location</button>
<div id='mapEbola' style='width: 50vw; height: 60vh; margin-left: auto; margin-right: auto;'></div>
<input type="text" id="inputEbola">
<button id="buttonEbolaSearch">Go to location</button>
<div id='mapMalaria' style='width: 50vw; height: 60vh; margin-left: auto; margin-right: auto;'></div>
<input type="text" id="inputMalaria">
<button id="buttonMalariaSearch">Go to location</button>
<h1 id="geocode_clicked_country"></h1>
<script src="js/mapbox-geocoder-utils.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    var coronaButton = $("#coronaButton");
    var coronaMap = $("#mapCorona");
    var inputSearchCorona = $("#inputCorona");
    var inputSearchButtonCorona = $("#buttonCoronaSearch");
    var ebolaButton = $("#ebolaButton");
    var ebolaMap = $("#mapEbola");
    var inputSearchEbola = $("#inputEbola");
    var inputSearchButtonEbola = $("#buttonEbolaSearch");
    var malariaButton = $("#malariaButton");
    var malariaMap = $("#mapMalaria");
    var inputSearchMalaria = $("#inputMalaria");
    var inputSearchButtonMalaria = $("#buttonMalariaSearch");
    var mapboxKey = "[[${mapboxKey}]]";
    mapboxgl.accessToken = mapboxKey;
    var mapCorona = new mapboxgl.Map({
        container: 'mapCorona',
        style: 'mapbox://styles/colinmarch/ck6e4fht91vxc1imrmlt1fsj8'
    });
    var mapEbola = new mapboxgl.Map({
        container: 'mapEbola',
        style: 'mapbox://styles/colinmarch/ck6e787320zpv1ipf6nbnht9u'
    });
    var mapMalaria = new mapboxgl.Map({
        container: 'mapMalaria',
        style: 'mapbox://styles/colinmarch/ck6h2k17807c71iqsfmexn015'
    });
    var el = document.createElement('div');
    el.id = 'popup';
    ebolaMap.hide();
    inputSearchButtonEbola.hide();
    inputSearchEbola.hide();
    malariaMap.hide();
    inputSearchButtonMalaria.hide();
    inputSearchMalaria.hide();
    malariaButton.on("click",function (){
        malariaMap.show();
        inputSearchButtonMalaria.show();
        inputSearchMalaria.show();
        coronaMap.hide();
        inputSearchButtonCorona.hide();
        inputSearchCorona.hide();
        ebolaMap.hide();
        inputSearchButtonEbola.hide();
        inputSearchEbola.hide();
    });
    ebolaButton.on("click",function (){
        ebolaMap.show();
        inputSearchButtonEbola.show();
        inputSearchEbola.show();
        coronaMap.hide();
        inputSearchButtonCorona.hide();
        inputSearchCorona.hide();
        malariaMap.hide();
        inputSearchButtonMalaria.hide();
        inputSearchMalaria.hide();
    });
    coronaButton.on("click",function (){
        coronaMap.show();
        inputSearchButtonCorona.show();
        inputSearchCorona.show();
        ebolaMap.hide();
        inputSearchButtonEbola.hide();
        inputSearchEbola.hide();
        malariaMap.hide();
        inputSearchButtonMalaria.hide();
        inputSearchMalaria.hide();
    });
    inputSearchButtonCorona.on("click",function (){
        geocode(inputSearchCorona.val(),mapboxKey).then(function (result) {
            console.log(result);
            mapCorona.setCenter(result);
            mapCorona.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonEbola.on("click",function (){
        geocode(inputSearchEbola.val(),mapboxKey).then(function (result) {
            console.log(result);
            mapEbola.setCenter(result);
            mapEbola.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonMalaria.on("click",function (){
        geocode(inputSearchMalaria.val(),mapboxKey).then(function (result) {
            console.log(result);
            mapMalaria.setCenter(result);
            mapMalaria.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });
    mapCorona.on('click', function(e) {
        $("#popup").hide();
        var coordinates = {"lat":JSON.stringify(e.lngLat.lat),"lng":JSON.stringify(e.lngLat.lng)}
        // $("#geocode_clicked_country").val = reverseGeocode(e.lngLat.wrap());
        reverseGeocode({"lat":JSON.stringify(e.lngLat.lat),"lng":JSON.stringify(e.lngLat.lng)}, mapboxKey).then(function(results){
            var resultsSplit = results.split(",");
            $("#geocode_clicked_country").text(JSON.stringify(resultsSplit[resultsSplit.length-1]).trim());
            console.log(JSON.stringify(resultsSplit[resultsSplit.length-1]));
            var popupHTML = JSON.stringify(resultsSplit[resultsSplit.length-1])+"<br>Total Cases: XX<br>New Cases: XX<br>Total Deaths: XX<br> New Deaths: XX\n";
            new mapboxgl.Popup(el)
                .setLngLat(coordinates)
                .setHTML(popupHTML)
                .addTo(mapCorona);
        })
    });

</script>

<script th:fragment="cloudflare" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:fragment="bootstrap" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
