<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script>
        var url='https://api.nytimes.com/svc/search/v2/articlesearch.json';
        url += '?' +$.param({
            'api-key':'EGA6ITgdlp8qcGuAafAYjJvQEpWJUvCf',
            'q':'Corona Virus AND Zimbabwe',
            'begin_date':'20200201',
            'end_date':'20200213'
        });
        $.ajax({
            url:url,
            method:'GET',
        }).done(function (results) {
            console.log(results);
            var listOfResults = results.response.docs;
            for(let i = 0; i < listOfResults.length -1; i++){
                $("#newsSourceArea").html += "<div class=\"card mb-3\" style=\"max-width: 540px;\">\n" +
                    "    <div class=\"row no-gutters\">\n" +
                    "        <div class=\"col-md-4\">\n" +
                    "            <img src=\"...\" class=\"card-img\" alt=\"...\">\n" +
                    "        </div>\n" +
                    "        <div class=\"col-md-8\">\n" +
                    "            <div class=\"card-body\">\n" +
                    "                <h5 class=\"card-title\">"+ listOfResults[i]. +"</h5>\n" +
                    "                <p class=\"card-text\">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>\n" +
                    "                <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</div>";
            }
        }).fail(function (err) {
            throw err;
        });

    </script>
</head>
<body>
<div id="newsSourceArea"></div>

<script th:fragment="scripts" src="js/mapbox-geocoder-utils.js"></script>
<script th:fragment="scripts"
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script th:fragment="scripts" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script th:fragment="scripts" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
