/* MOBILE CSS */
@media (max-width: 991.999px) {
    .page-title{
        font-family: 'Black Ops One', cursive;
    }
    /*.card-img {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    object-fit: cover;*/
    /*}*/
    .portrait{
        box-shadow: 24px 24px black;
    }
    .portrait-colin{
        box-shadow: 48px 48px #7556EB;
    }
    .portrait-alex{
        box-shadow: 48px 48px #EA0C3C;
    }
    .portrait-josh{
        box-shadow: 48px 48px #2A92E0;
    }
    /* mobile navbar */
    .navbar-custom {
        color: black; background-color: black !important;
    }
}
/* DESKTOP CSS */
@media (min-width: 992px) {
    .aboutus-black{
        background-image: url('img/black-small-background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        ;
    }
    .portrait{
        box-shadow: 12px 12px black;
    }
    .portrait-colin{
        box-shadow: 24px 24px #7556EB;
    }
    .portrait-alex{
        box-shadow: 24px 24px #EA0C3C;
    }
    .portrait-josh{
        box-shadow: 24px 24px #2A92E0;
    }
    .zoom {
        transition: transform .2s; /* Animation */
    }
    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .page-title{
        font-family: 'Black Ops One', cursive;
    }
    .overpass-font{
        font-family: 'Overpass', sans-serif;
        color: black;
    }
    /* Tab Content on Information Page */
    .tab-pane {

        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
    }
    .nav-tabs {
        margin-bottom: 0;
    }
    /* login page center */
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
    .card-img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    .blackOpsOne{
        font-family: 'Black Ops One', cursive;
    }
    /* landing image border */
    .inline-svg {
        border: 5px solid black;
    }
    /* landing video */
    header {
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    header .container {
        position: relative;
        z-index: 2;
    }
    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }
    @media (pointer: coarse) and (hover: none) {
        header {
            background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
        }
        header video {
            display: none;
        }
    }
    .parallax-window {
        min-height: 400px;
        background: transparent;
    }
    /* Back to top button */
    #scroll {
        position:fixed;
        right:10px;
        bottom:10px;
        cursor:pointer;
        width:50px;
        height:50px;
        background-color:#3498db;
        text-indent:-9999px;
        display:none;
        -webkit-border-radius:60px;
        -moz-border-radius:60px;
        border-radius:60px
    }
    #scroll span {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-8px;
        margin-top:-12px;
        height:0;
        width:0;
        border:8px solid transparent;
        border-bottom-color:#ffffff;
    }
    #scroll:hover {
        background-color:#e74c3c;
        opacity:1;filter:"alpha(opacity=100)";
        -ms-filter:"alpha(opacity=100)";
    }
}

