
@media (max-width: 991.999px) {
    .aboutus-body{
        background: #9CECFB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .information-body{
        background: #EF3B36;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .login-body{
        background: #ED213A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .portrait{
        box-shadow: 30px 30px;
    }
    .page-title{
        font-family: 'Black Ops One', cursive;
    }
    h5{
        font-family: 'Prata', serif;
    }

    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


@media (min-width: 992px) {
    .aboutus-body{
        background: #9CECFB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .information-body{
        background: #EF3B36;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .login-body{
        background: #ED213A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .portrait{
        box-shadow: 12px 12px;
    }
    .zoom {
        transition: transform .2s; /* Animation */
    }
    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .page-title{
        font-family: 'Black Ops One', cursive;
        color: black;
    }
    .overpass-font{
        font-family: 'Overpass', sans-serif;
        color: black;
    }
    h5{
        font-family: 'Prata', serif;
    }

    /* Tab Content on Information Page */
    .tab-pane {

        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
    }

    .nav-tabs {
        margin-bottom: 0;
    }

    /* iFrame on information page */
    .frame-area {
        display: block;
        width: 90%;  /* RESPONSIVE WIDTH */
        /*max-width: 400px;*/
        height: 600px;
        overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
        border: #999999 5px solid;
        margin: auto;
        padding: 0px;
    }
    /* login page center */
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }

    .card-img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    /* landing page title */
    .shimmer {
        font-family: 'Black Ops One', cursive;
        font-weight: 300;
        font-size: 3em;
        display: inline;
        margin-bottom: 0;
    }
    .shimmer {
        text-align: center;
        color: rgba(255,255,255,0.1);
        background: -webkit-gradient(linear, left top, right top, from(#000000), to(#000000), color-stop(0.5, #fff));
        background: -moz-gradient(linear, left top, right top, from(#000000), to(#000000), color-stop(0.5, #fff));
        background: gradient(linear, left top, right top, from(#000000), to(#000000), color-stop(0.5, #fff));
        -webkit-background-size: 125px 100%;
        -moz-background-size: 125px 100%;
        background-size: 125px 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation-name: shimmer;
        -moz-animation-name: shimmer;
        animation-name: shimmer;
        -webkit-animation-duration: 6s;
        -moz-animation-duration: 6s;
        animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #000000;
    }
    @-moz-keyframes shimmer {
        0% {
            background-position: top left;
        }
        100% {
            background-position: top right;
        }
    }
    @-webkit-keyframes shimmer {
        0% {
            background-position: top left;
        }
        100% {
            background-position: top right;
        }
    }
    @-o-keyframes shimmer {
        0% {
            background-position: top left;
        }
        100% {
            background-position: top right;
        }
    }
    @keyframes shimmer {
        0% {
            background-position: top left;
        }
        100% {
            background-position: top right;
        }
    }


    /* landing image border */
    .inline-svg {
        /* Doesn't work at all in IE */

        border: 10px solid white;
        border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
    }

    /* landing video */

    header {
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header .container {
        position: relative;
        z-index: 2;
    }

    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

    @media (pointer: coarse) and (hover: none) {
        header {
            background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
        }
        header video {
            display: none;
        }
    }
    .hideme
    {
        opacity:0;
    }
}

