<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
</head>

<body style="background-color: black">
<nav th:replace="partials/navbar :: navbar"/>
<div class="pt-3"></div>

<h1 style="text-align: center;color: #bf1010" th:text="${error}"></h1>
<div style="display: flex;justify-content: center">
    <img style="" src="https://media3.giphy.com/media/vO2ByH5dWCJEc/giphy.gif" alt="">

</div>





<nav th:replace="partials/scripts :: scripts"/>

</body>
</html>
