<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/partials/head :: head" />

<body>

<nav th:replace="/partials/navbar :: navbar" />

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<nav th:replace="/partials/footer :: footer" />

<nav th:replace="/partials/scripts :: scripts" />

</body>

</html>