<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head" />

<body>

<nav th:replace="partials/navbar :: navbar" />

<!-- DESKTOP ABOUT US -->
<div class="aboutus-black d-none d-lg-block" style="min-height: 100vh">

    <div class="container text-center d-none d-lg-block" style="margin-top: 4em">
        <h1 class="display-3 page-title" style="color: white">Contagion Watch</h1>
    </div>


    <div class="container-fluid d-none d-lg-block">
        <div class="row pl-5 pr-5">
            <div class="col-4 text-center">
                <h5 class="card-title pb-3" style="font-size: 2.5em; color: white">Joshua Peters</h5>
                    <img src="./img/jp-five.png" class="card-img-top portrait zoom img-responsive mx-auto" style="width: 80%; height: auto; display: block">
                    <div class="card-body row" style="margin-top: 4em; padding-left: 5.5em; padding-right: 5.5em">
                        <div class="col-4">
                            <a  href="https://www.linkedin.com/in/peters-l-joshua/" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://github.com/JoshuaLPeters" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://alumni.codeup.com/students/767" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/chevron.png"></a>
                        </div>
                </div>
            </div>

            <div class="col-4 text-center">
                <h5 class="card-title pb-3" style="font-size: 2.5em; color: white">Alexander Lee</h5>
                    <img src="./img/al-five.png" class="card-img-top portrait zoom img-responsive mx-auto" style="width: 80%; height: auto; display: block">
                    <div class="card-body row" style="margin-top: 4em; padding-left: 5.5em; padding-right: 5.5em">
                        <div class="col-4">
                            <a  href="https://www.linkedin.com/in/alexwonkeunlee/" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://github.com/AlexWonkeunLee" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://alumni.codeup.com/students/756" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/chevron.png"></a>
                        </div>
                </div>
            </div>

            <div class="col-4 text-center">
                <h5 class="card-title pb-3" style="font-size: 2.5em; color: white">Colin Marchbanks</h5>
                    <img src="./img/cm-five.png" class="card-img-top portrait zoom img-responsive mx-auto" style="width: 80%; height: auto; display: block">
                    <div class="row card-body" style="margin-top: 4em; padding-left: 5.5em; padding-right: 5.5em">
                        <div class="col-4">
                            <a  href="https://www.linkedin.com/in/colin-marchbanks/" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://github.com/colinmarchbanks" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
                        </div>
                        <div class="col-4">
                            <a href="https://alumni.codeup.com/students/766" target="_blank"><img class="zoom" style="width: 100%; height: 100%" src="img/chevron.png"></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-2 text-white-50 d-none d-lg-block" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <a href="/login"><small>Login</small></a> || <a href="/admin"><small>Admin</small></a>
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>


<!-- MOBILE ABOUT US -->

<div class="d-block d-lg-none" style="background-color: black">
<div class="container">
    <div class="text-center" style="width: 40em">
        <h5 class="card-title" style="font-size: 4em; color: white">Alexander Lee</h5>
        <div class="portrait-alex">
            <img src="./img/al-five.png" class="card-img-top portrait center-block">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card-body row" style="margin-top: 2em">
                    <div class="col-4">
                        <a  href="https://www.linkedin.com/in/alexwonkeunlee/" target="_blank"><img style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
                    </div>
                    <div class="col-4">
                        <a href="https://github.com/AlexWonkeunLee" target="_blank"><img style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
                    </div>
                    <div class="col-4">
                        <a href="https://alumni.codeup.com/students/756" target="_blank"><img style="width: 100%; height: 100%" src="img/chevron.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center d-block d-lg-none" style="width: 40em">
        <h5 class="card-title" style="font-size: 4em; color: white">Colin Marchbanks</h5>
        <div class="portrait-colin">
            <img src="./img/cm-five.png" class="card-img-top portrait center-block">
        </div>
        <div class="row card-body" style="margin-top: 3em">
            <div class="col-4">
                <a  href="https://www.linkedin.com/in/colin-marchbanks/" target="_blank"><img style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
            </div>
            <div class="col-4">
                <a href="https://github.com/colinmarchbanks" target="_blank"><img style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
            </div>
            <div class="col-4">
                <a href="https://alumni.codeup.com/students/766" target="_blank"><img style="width: 100%; height: 100%" src="img/chevron.png"></a>
            </div>
        </div>
    </div>
    <div class="text-center d-block d-lg-none" style="width: 40em">
        <h5 class="card-title" style="font-size: 4em; color: white">Joshua Peters</h5>
        <div class="portrait-josh">
            <img src="./img/jp-five.png" class="card-img-top portrait center-block">
        </div>
        <div class="card-body row" style="margin-top: 3em">
            <div class="col-4">
                <a  href="https://www.linkedin.com/in/joshua-peters787" target="_blank"><img style="width: 100%; height: 100%" src="img/new-linkin-icon.png"></a>
            </div>
            <div class="col-4">
                <a href="https://github.com/JoshuaLPeters" target="_blank"><img style="width: 100%; height: 100%" src="img/github_catWhite%20copy.png"></a>
            </div>
            <div class="col-4">
                <a href="https://alumni.codeup.com/students/767" target="_blank"><img style="width: 100%; height: 100%" src="img/chevron.png"></a>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="py-2 text-white-50 d-block d-lg-none" style="background-color: black">
    <div class="container text-center">
        <small style="font-size: 2em">Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <small style="font-size: 2em">Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>




<!--<nav th:replace="partials/footer :: footer" />-->

<nav th:replace="partials/scripts :: scripts" />

</body>

</html>
