<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head" />

<body>

<nav th:replace="partials/navbar :: navbar" />

<h1>ADMIN PAGE</h1>
<div class="row">
    <div class="col-6 p-5">
        <h3>DAILY SUBMISSION FORM</h3>
        <form th:action="@{'/admin'}" th:method="post" th:object="${entry}">
            <div class="form-group">
                <label for="selectDate">Date</label>
                <input th:field="*{date}" id="selectDate" class="form-control" type="date">
            </div>
            <h6>Select Disease</h6>
            <select th:field = "*{disease}" class="form-control disease-select">
                <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
            </select>
            <h6>Select Location</h6>
            <select th:field="*{location}" class="form-control location-select">
                <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
            </select>
            <div class="form-group">
                <label for="totalCases">Total Cases</label>
                <input th:value="*{totalCases}" type="number" class="form-control" id="totalCases" name="totalCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="newCases">New Cases</label>
                <input th:value="*{newCases}" type="number" class="form-control" id="newCases" name="newCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="totalDeaths">Total Deaths</label>
                <input th:value="*{totalDeaths}" type="number" class="form-control" id="totalDeaths" name="totalDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="newDeaths">New Deaths</label>
                <input th:value="*{newDeaths}" type="number" class="form-control" id="newDeaths" name="newDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <button type="submit">Add</button>

        </form>

    </div>
    <div class="col-6">
        <h3>NEWS SUBMISSION FORM</h3>
        <form th:action="@{'/admin'}" th:method="post" th:object="${news}">
            <div class="form-group">
                <label for="selectDate">Date</label>
                <input th:field="*{date}" id="selectDateNews" class="form-control" type="date">
            </div>
            <h6>Select Disease</h6>
            <select th:field = "*{disease}" class="form-control disease-select">
                <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
            </select>
            <h6>Select Location</h6>
            <select th:field="*{location}" class="form-control location-select">
                <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
            </select>
            <div class="form-group">
                <label for="title">Title</label>
                <input th:field="*{title}" type="input" class="form-control" id="title" placeholder="Enter title for the article.">
            </div>
            <div class="form-group">
                <label for="imageURL">Url for Image</label>
                <input th:value="*{imageURL}" type="text" class="form-control" id="imageURL" name="imageURL" placeholder="Enter Url for the image.">
            </div>
            <div class="form-group">
                <label for="link">Link</label>
                <input th:field="*{link}" type="input" id="link" placeholder="Enter link for the article.">
            </div>
            <div class="form-group">
                <label for="summary">New Deaths</label>
                <input th:field="*{summary}" type="input" class="form-control" id="summary" placeholder="Enter a summary.">
            </div>
            <button type="submit">Add</button>

        </form>
    </div>

</div>


<nav th:replace="partials/footer :: footer" />

<nav th:replace="partials/scripts :: scripts" />

</body>

</html>
