<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head" />

<body>

<nav th:replace="partials/navbar :: navbar" />

<h1>ADMIN PAGE</h1>
<div class="row">
    <div class="col-6 p-5">
        <h3>DAILY SUBMISSION FORM</h3>
        <form th:action="@{'/admin'}" th:method="post" th:object="${entry}">
            <div class="form-group">
                <label for="selectDate">Date</label>
                <input th:field="*{date}" id="selectDate" class="form-control" type="date">
            </div>
            <h6>Select Disease</h6>
            <select th:field = "*{disease}" class="form-control disease-select">
                <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
            </select>
            <h6>Select Location</h6>
            <select th:field="*{location}" class="form-control location-select">
                <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
            </select>
            <div class="form-group">
                <label for="totalCases">Total Cases</label>
                <input th:value="*{totalCases}" type="number" class="form-control" id="totalCases" name="totalCases" placeholder="Enter total cases.">
            </div>
            <div class="form-group">
                <label for="selectNewCases">New Cases</label>
                <input th:field="*{newCases}" type="input" id="selectNewCases" placeholder="Enter new cases.">
            </div>
            <div class="form-group">
                <label for="selectTotalDeaths">Total Deaths</label>
                <input th:field="*{totalDeaths}" type="input" class="form-control" id="selectTotalDeaths" placeholder="Enter total deaths.">
            </div>
            <div class="form-group">
                <label for="selectNewDeaths">New Deaths</label>
                <input th:field="*{newDeaths}" type="input" class="form-control" id="selectNewDeaths" placeholder="Enter new deaths.">
            </div>
            <button type="submit">Add</button>

        </form>

    </div>
    <div class="col-6">
        <h3>NEWS SUBMISSION FORM</h3>
    </div>

</div>


<nav th:replace="partials/footer :: footer" />

<nav th:replace="partials/scripts :: scripts" />

</body>

</html>
