<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head" />

<body class="aboutus-black">

<nav th:replace="partials/navbar :: navbar" />

<h1 class="display-3 page-title text-center pt-3" style="color: white">ADMIN PAGE</h1>
<div class="row">
    <div class="p-2 text-center col-6 mx-auto">
        <h3 class="page-title" style="color: white">SUBMISSION FORM</h3>
        <form id="submitEntry" th:action="@{'/admin'}" th:method="post" th:object="${entry}">
            <div class="form-group">
                <label for="selectDate" style="color: white">Date</label>
                <input th:field="*{date}" id="selectDate" class="form-control" type="date">
            </div>
            <div class="form-group">
                <label for="chooseDisease" style="color: white">Select Disease</label>
                <select id="chooseDisease" th:field = "*{disease}" class="form-control disease-select]">
                    <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}" class="text-center"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="chooseLocation" style="color: white">Select Location</label>
                <select id="chooseLocation" th:field="*{location}" class="form-control location-select">
                    <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}" class="text-center"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="totalCases" style="color: white">Total Cases</label>
                <input th:value="*{totalCases}" type="number" min="0" class="form-control" id="totalCases" name="totalCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="newCases" style="color: white">New Cases</label>
                <input th:value="*{newCases}" type="number" min="0" class="form-control" id="newCases" name="newCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="totalDeaths" style="color: white">Total Deaths</label>
                <input th:value="*{totalDeaths}" type="number" min="0" class="form-control" id="totalDeaths" name="totalDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <div class="form-group">
                <label for="newDeaths" style="color: white">New Deaths</label>
                <input th:value="*{newDeaths}" type="number" min="0" class="form-control" id="newDeaths" name="newDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
            </div>
            <button type="submit" class="btn btn-success">          ADD           </button>

        </form>

    </div>


</div>


<nav th:replace="partials/footer :: footer" />

<nav th:replace="partials/scripts :: scripts" />
<script>
    $('#submitEntry').submit(function(e){
        $('#selectDate, #totalCases, #totalDeaths, #newDeaths, #newCases').each(function() {
            let stop = false;
            if ($(this).val() === "" || $(this).val() == null) {
                e.preventDefault();
                stop = true;
                document.getElementById(this.id).style.borderColor = "red";
                document.getElementById(this.id).style.borderWidth = "thick";
            }
            if (stop) {
                alert("Unable to submit. Please fill in the required fields.");
                return false;
            }
        });
        alert("Entry successfully submitted.");
    });

</script>
</body>

</html>
