<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head" />
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />



<!--  DESKTOP -->
<header class="d-none d-lg-block">
    <div class="overlay"></div>
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://www.videvo.net/videvo_files/converted/2016_05/preview/506401051_1.mov80298.webm" type="video/webm">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 blackOpsOne" style="font-size: 5em">Contagion Watch</h1>
                <p class="lead mb-0" style="font-size: 1.5em">Discover, learn, and track the deadliest diseases on Earth.</p>
            </div>
        </div>
    </div>
</header>

<!-- mobile header banner -->
<div class="container-fluid d-block d-lg-none">
    <img src="img/first-front-small.jpg" class="img-responsive d-block d-lg-none w-100">
</div>
<!-- mobile header banner -->

<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne" style="font-size: 3em">Discover</h1>
            <p class="lead mb-0" style="font-size: 1.5em">Become aware about potential dangerous diseases.</p>
        </div>
    </div>
</section>



<a href="/information/1"><div class="parallax-window" data-natural-width="1920" data-natural-height="635" data-parallax="scroll" data-image-src="img/first-front-small.jpg"></div></a>



<section class="my-5">
        <div class="row d-flex justify-content-around">
            <div>
                <h1 class="page-title text-center" style="font-size: 2em">Corona</h1>
                <a href="/information/1"><img style="width: 25vw" class="inline-svg zoom" src="img/landing-image-one.jpg"></a>
            </div>
            <div>
                <h1 class="page-title text-center" style="font-size: 2em">Malaria</h1>
                <a href="/information/2"><img style="width: 25vw" class="inline-svg zoom" src="img/landing-malaria-one.jpeg"></a>
            </div>
            <div>
                <h1 class="page-title text-center" style="font-size: 2em">Ebola</h1>
                <a href="/information/3"><img style="width: 25vw" class="inline-svg zoom" src="img/landing-ebola-one.jpg"></a>
            </div>
        </div>
</section>

<!-- mobile learn banner -->
<div class="container-fluid d-block d-lg-none">
    <img src="img/front-medical-small.jpg" class="img-responsive d-block d-lg-none w-100">
</div>
<!-- mobile learn banner -->

<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne" style="font-size: 3em">Learn</h1>
            <p class="lead mb-0" style="font-size: 1.5em">View statistics from over 200 countries.</p>
        </div>
    </div>
</section>

<a href="/location/43"><div class="parallax-window" data-natural-width="1920" data-natural-height="635" data-parallax="scroll" data-image-src="img/front-medical-small.jpg"></div></a>

<!-- mobile track banner -->
<div class="container-fluid d-block d-lg-none">
    <img src="img/front-small-grid.jpg" class="img-responsive d-block d-lg-none w-100">
</div>
<!-- mobile track banner -->

<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne" style="font-size: 3em">Track</h1>
            <p class="lead mb-0" style="font-size: 1.5em">Follow the latest outbreaks around the world with dynamic maps.</p>
        </div>
    </div>
</section>

<section class="my-5">
        <div class="row d-flex justify-content-around">
            <div>
                <h1 class="page-title text-center " style="font-size: 2em">Canada</h1>
                <a href="/information/1"><img style="width: 25vw" class="inline-svg zoom" src="img/canada-flag.png"></a>
            </div>
            <div>
                <h1 class="page-title text-center " style="font-size: 2em">USA</h1>
                <a href="/information/2"><img style="width: 25vw" class="inline-svg zoom" src="img/usa-flag.png"></a>
            </div>
            <div>
                <h1 class="page-title text-center " style="font-size: 2em">China</h1>
                <a href="/information/3"><img style="width: 25vw" class="inline-svg zoom" src="img/china-flag.png"></a>
            </div>
        </div>
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 mt-5">
                <a href="/location-navigation"><button type="button" class="btn btn-dark zoom" style="font-size: 1.5em">To view other countries click here</button></a>
            </div>
        </div>
</section>

<!-- mobile footer banner -->
<div class="container-fluid d-block d-lg-none">
    <img src="img/bottom-front-small.jpg" class="img-responsive d-block d-lg-none w-100">
</div>
<!-- mobile footer banner -->

<a href="/map"><div class="parallax-window" data-natural-width="1920" data-natural-height="635" data-parallax="scroll" data-image-src="img/bottom-front-small.jpg"></div></a>



<!-- back to top button -->
<a href="#" id="scroll" style="display: none;"><span></span></a>

<!-- DESKTOP FOOTER -->

<footer class="py-2 text-white-50 d-none d-lg-block" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <a href="/login"><small>Login</small></a> || <a href="/admin"><small>Admin</small></a>
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<!-- MOBILE FOOTER -->
<footer class="py-2 text-white-50 d-block d-lg-none" style="background-color: black">
    <div class="container text-center">
        <small style="font-size: 2em">Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <small style="font-size: 2em">Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<script th:replace="partials/scripts :: scripts"/>
</body>

</html>
