<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/head :: head" />
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />



<!--  DESKTOP -->
<header>
    <div class="overlay"></div>
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://www.videvo.net/videvo_files/converted/2016_05/preview/506401051_1.mov80298.webm" type="video/webm">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 blackOpsOne">Contagion Watch</h1>
                <p class="lead mb-0">Discover, learn, and track the deadliest diseases on Earth.</p>
            </div>
        </div>
    </div>
</header>


<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne">Discover</h1>
            <p class="lead mb-0">Become aware about potential dangerous diseases.</p>
        </div>
    </div>
</section>



<div class="parallax-window" data-natural-width="5184" data-natural-height="1728" data-parallax="scroll" data-image-src="img/home-virus-track.jpg"></div>



<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-4 p-2">
                <h1 class="page-title text-center d-none d-lg-block">COVID-19</h1>
                <img class="w-100 inline-svg" src="img/landing-image-one.jpg">
            </div>

            <div class="col-4 p-2">
                <h1 class="page-title text-center d-none d-lg-block">Malaria</h1>
                <img class="w-100 inline-svg" src="img/landing-malaria-one.jpeg">
            </div>

            <div class="col-4 p-2">
                <h1 class="page-title text-center d-none d-lg-block">Ebola</h1>
                <img class="w-100 inline-svg" src="img/landing-ebola-one.jpg">
            </div>
        </div>
    </div>
</section>

<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne">Learn</h1>
            <p class="lead mb-0">View statistics from over 200 countries.</p>
        </div>
    </div>
</section>

<div class="parallax-window" data-parallax="scroll" data-image-src="img/learn-medical-front.png"></div>


<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster blackOpsOne">Track</h1>
            <p class="lead mb-0">Follow the latest outbreaks around the world with dynamic maps.</p>
        </div>
    </div>
</section>

<div class="parallax-window" data-parallax="scroll" data-image-src="img/map-front-page.png"></div>





<footer class="py-2 text-white-50 d-none d-lg-block" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <a href="/login"><small>Login</small></a> || <a href="/admin"><small>Admin</small></a>
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<script th:replace="partials/scripts :: scripts"/>
</body>

</html>
