<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" >
    <meta charset="UTF-8">
    <title>Example</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass|Black+Ops+One|Eater|Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
    <style>

    </style>
</head>


<body>
<nav th:replace="partials/navbar :: navbar" />



<!--  DESKTOP -->
<header>
    <div class="overlay"></div>
    <video autoplay="autoplay" muted="muted" loop="loop">
<!--        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
<!--        <source src="https://ak1.picdn.net/shutterstock/videos/1027809641/preview/stock-footage&#45;&#45;k-beautiful-sunrise-over-earth-realistic-earth-with-night-lights-from-space-high-quality-d.webm" type="video/webm">-->
        <source src="https://www.videvo.net/videvo_files/converted/2016_05/preview/506401051_1.mov80298.webm" type="video/webm">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Contagion Watch</h1>
                <p class="lead mb-0">Discover, track, and learn about the deadliest diseases on Earth.</p>
            </div>
        </div>
    </div>
</header>

<div data-aos="flip-right">
<section class="my-5" >
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3 monster">Discover</h1>
            <p class="lead mb-0">Become aware about potential dangerous diseases.</p>
        </div>
    </div>
    <div class="w-100">
        <img class="w-100" src="img/home-virus-track.jpg">
    </div>
</section>
</div>



<div class="container" data-aos="flip-right">
    <div class="row">
        <div class="col-4 p-2">
            <h1 class="page-title text-center d-none d-lg-block">COVID-19</h1>
            <img class="w-100 inline-svg" src="img/landing-image-one.jpg">
        </div>

        <div class="col-4 p-2">
            <h1 class="page-title text-center d-none d-lg-block">Malaria</h1>
            <img class="w-100 inline-svg" src="img/landing-malaria-one.jpeg">
        </div>

        <div class="col-4 p-2">
            <h1 class="page-title text-center d-none d-lg-block">Ebola</h1>
            <img class="w-100 inline-svg" src="img/landing-ebola-one.jpg">
        </div>
    </div>
</div>




<footer class="py-2 text-white-50 d-none d-lg-block" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<script th:replace="partials/scripts :: scripts"/>
<script>
    $(function(){  // $(document).ready shorthand
        $('.monster').fadeIn('slow');
    });

    $(document).ready(function() {

        /* Every time the window is scrolled ... */
        $(window).scroll( function(){

            /* Check the location of each desired element */
            $('.hideme').each( function(i){

                var bottom_of_object = $(this).position().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                /* If the object is completely visible in the window, fade it it */
                if( bottom_of_window > bottom_of_object ){

                    $(this).animate({'opacity':'1'},1500);

                }

            });

        });

    });
</script>

</body>

</html>
