<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/head :: head" />



<body class="information-body">

<nav th:replace="partials/navbar :: navbar" />

<div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="editEntry" th:action="@{'/edit'}" th:method="post" th:object="${entry}">
                    <div class="form-group">
                        <input th:field="*{id}" id="editId" class="form-control" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="editDate">Date</label>
                        <input th:field="*{date}" id="editDate" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label for="editLocation">Select Location</label>
                        <select th:field="*{location}" id = "editLocation" class="form-control location-select">
                            <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
                        </select>
                        <select th:field="*{disease}" id = "editDisease" class="form-control disease-select" style="display: none">
                            <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editTotalCases">Total Cases</label>
                        <input th:field="*{totalCases}" type="number" min="0" class="form-control" id="editTotalCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editNewCases">New Cases</label>
                        <input th:field="*{newCases}" type="number" min="0" class="form-control" id="editNewCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editTotalDeaths">Total Deaths</label>
                        <input th:field="*{totalDeaths}" type="number" min="0" class="form-control" id="editTotalDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editNewDeaths">New Deaths</label>
                        <input th:field="*{newDeaths}" type="number" min="0" class="form-control" id="editNewDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="whichDiseaseEdit" name="whichDiseaseEdit" th:value="${whichDisease}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade editModalMalaria" tabindex="-1" role="dialog" aria-labelledby="editModalMalaria" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="editEntryMalaria" th:action="@{'/edit'}" th:method="post" th:object="${entry}">
                    <div class="form-group">
                        <input th:field="*{id}" id="editIdMalaria" class="form-control" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="editDate">Date</label>
                        <input th:field="*{date}" id="editDateMalaria" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label for="editLocation">Select Location</label>
                        <select th:field="*{location}" id = "editLocationMalaria" class="form-control location-select">
                            <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
                        </select>
                        <select th:field="*{disease}" id = "editDiseaseMalaria" class="form-control disease-select" style="display: none">
                            <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editTotalCases">Total Cases</label>
                        <input th:field="*{totalCases}" type="number" min="0" class="form-control" id="editTotalCasesMalaria" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editTotalDeaths">Total Deaths</label>
                        <input th:field="*{totalDeaths}" type="number" min="0" class="form-control" id="editTotalDeathsMalaria" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="whichDiseaseEditMalaria" name="whichDiseaseEdit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="display: none" id="diseaseName" th:text="${disease.getName()}"></div>
<div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this entry?</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{'/delete'}" th:method="post">
                    <input type="hidden" id="whichDiseaseDelete" name="whichDiseaseDelete" th:value="${whichDisease}">
                    <input type="hidden" id="deleteId" name="deleteId">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<h1 class="col text-center display-3" style="font-family: 'Black Ops One', cursive !important;" th:text="${disease.getName()}"></h1>

<div class="parallax-window" data-natural-width="1920" data-natural-height="635" data-parallax="scroll" data-image-src="https://contagion.watch/img/first-front-small.jpg"></div>


<div class="row">
    <div class="col-12" style="margin-right: 1em">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Statistics</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Disease Information</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table class="table table-hover">
                    <thead th:switch="${isMalaria}">
                        <tr th:case="${true}">
                            <th scope="col">Date</th>
                            <th scope="col">Location</th>
                            <th scope="col">Total Cases</th>
                            <th scope="col">Total Deaths</th>
                        </tr>
                        <tr th:case="${false}">
                            <th scope="col">Date</th>
                            <th scope="col">Location</th>
                            <th scope="col">New Cases</th>
                            <th scope="col">Total Cases</th>
                            <th scope="col">New Deaths</th>
                            <th scope="col">Total Deaths</th>
                        </tr>
                    </thead>

                    <tbody th:switch="${isMalaria}">
                        <span th:case="${true}">
                            <tr th:each="entry : ${page}">
                                <td th:text="${entry.getDate()}"></td>
                                <td th:text="${entry.location.getCountry()}"></td>
                                <td th:text="${entry.getTotalCases()}"></td>
                                <td th:text="${entry.getTotalDeaths()}"></td>
                                <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-warning editButton" data-toggle="modal" data-target=".editModalMalaria" th:attr="data-date = ${entry.getDate()}, data-location = ${entry.location.getId()}, data-disease = ${entry.disease.getId()},  data-totalcases = ${entry.totalCases}, data-totaldeaths = ${entry.totalDeaths}" th:id="${entry.getId()}">
                                    Edit
                                </button></td>

                                <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-danger deleteButton" data-toggle="modal" data-target=".deleteModal" th:id="${entry.getId()}">
                                    Delete
                                </button></td>
                            </tr>
                        </span>
                        <span th:case="${false}">
                            <tr th:each="entry : ${page}">
                                <td th:text="${entry.getDate()}" th:value="${entry.getDate()}"></td>
                                <td th:text="${entry.location.getCountry()}"></td>
                                <td th:text="${entry.getNewCases()}" ></td>
                                <td th:text="${entry.getTotalCases()}" ></td>
                                <td th:text="${entry.getNewDeaths()}" ></td>
                                <td th:text="${entry.getTotalDeaths()}" ></td>
                                <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-warning editButton" data-toggle="modal" data-target=".editModal" th:attr="data-date = ${entry.getDate()}, data-location = ${entry.location.getId()}, data-disease = ${entry.disease.getId()}, data-newcases = ${entry.newCases}, data-totalcases = ${entry.totalCases}, data-newdeaths = ${entry.newDeaths}, data-totaldeaths = ${entry.totalDeaths}" th:id="${entry.getId()}">
                                    Edit
                                </button></td>

                                <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-danger deleteButton" data-toggle="modal" data-target=".deleteModal" th:id="${entry.getId()}">
                                    Delete
                                </button></td>
                            </tr>
                        </span>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${page.totalPages gt 0}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/information/${whichDisease}?page=0|}"
                               aria-label="First"
                               title="First Page" rel="tooltip">
                                <- First
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/information/${whichDisease}?page={id}|(id=${page.number lt 1 ? 0 : page.number - 1})}"
                               aria-label="Previous"
                               title="Previous Page" rel="tooltip">
                                <<
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq page.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( page.number + 1, page.totalPages > 5 + page.number ? page.number + 5 : page.totalPages, 1)}">
                            <a class="page-link" th:href="@{|/information/${whichDisease}?page={id}|(id=${i - 1})}" th:text="${i}"
                               th:title="${'Page '+ i}"
                               rel="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/information/${whichDisease}?page={id}|(id=${page.number + 1})}"
                               aria-label="Next"
                               title="Next Page" rel="tooltip">
                                >>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/information/${whichDisease}?page={id}|(id=${page.totalPages - 1})}"
                               aria-label="Last"
                               title="Last Page" rel="tooltip">
                                Last ->
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="accordion" id="diseaseInfo">
                    <div class="card">
                        <div class="card-header" id="headOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#description" aria-expanded="true" aria-controls="description">
                                    What is this disease?
                                </button>
                            </h2>
                        </div>
                        <div id="description" class="collapse show" aria-labelledby="headOne" data-parent="#diseaseInfo">
                            <div class="card-body" th:text="${disease.getDescription()}">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#symptoms" aria-expanded="true" aria-controls="symptoms">
                                    What are the symptoms?
                                </button>
                            </h2>
                        </div>
                        <div id="symptoms" class="collapse" aria-labelledby="headTwo" data-parent="#diseaseInfo">
                            <div class="card-body" th:text="${disease.getSymptoms()}">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headThree">
                            <h2 class="mb-0">
                                <button id="modalDiseaseField" class="btn btn-link" type="button" data-toggle="collapse" data-target="#transmissions" aria-expanded="true" aria-controls="transmissions">
                                    How can this disease be transmitted?
                                </button>
                            </h2>
                        </div>
                        <div id="transmissions" class="collapse" aria-labelledby="headThree" data-parent="#diseaseInfo">
                            <div class="card-body" th:text="${disease.getTransmission()}">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#treatments" aria-expanded="true" aria-controls="treatments">
                                    How can this disease be treated?
                                </button>
                            </h2>
                        </div>
                        <div id="treatments" class="collapse" aria-labelledby="headFour" data-parent="#diseaseInfo">
                            <div class="card-body" th:text="${disease.getTreatments()}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<h3 class="col page-title text-center mb-0 p-2" style="background-color: darkgrey">NEWS ALERTS</h3>
<div id="newsSourceArea" class="d-flex justify-content-around" style="background-color: darkgrey"></div>


<nav th:replace="partials/footer :: footer" />

<nav th:replace="partials/scripts :: scripts" />
<script>
    $('.editButton').on('click', function(event) {
        let button = $(this);
        let number = button.attr('id');
        $("#editId").val(number);
        $("#editDate").val(button.data('date'));
        $("#editLocation").val(button.data('location'));
        $("#editDisease").val(button.data('disease'));
        $("#editNewCases").val(button.data('newcases'));
        $("#editTotalCases").val(button.data('totalcases'));
        $("#editNewDeaths").val(button.data('newdeaths'));
        $("#editTotalDeaths").val(button.data('totaldeaths'));
        $('#whichDisease').val(button.data('disease'));

    })
    var diseaseName = $("#diseaseName").text();
    console.log(diseaseName)
    $('.editModalMalaria').on('show.bs.modal', function(event) {
        let button = $(event.relatedTarget);
        let number = button.attr('id');
        $("#editIdMalaria").val(number);
        $("#editDateMalaria").val(button.data('date'));
        $("#editLocationMalaria").val(button.data('location'));
        $("#editDiseaseMalaria").val(button.data('disease'));
        $("#editTotalCasesMalaria").val(button.data('totalcases'));
        $("#editTotalDeathsMalaria").val(button.data('totaldeaths'));
        $('#whichDiseaseEditMalaria').val(button.data('disease'));
    })

    $('.deleteModal').on('show.bs.modal', function(event) {
        let button = $(event.relatedTarget);
        let number = button.attr('id');
        $("#deleteId").val(number);
    });
    var url = 'https://api.nytimes.com/svc/search/v2/articlesearch.json';
    url += '?' + $.param({
        'api-key': "[[${nytKey}]]",
        'q': diseaseName,
        'begin_date': '20200210',
        'end_date': '20200229'
    });
    $.ajax({
        url: url,
        method: 'GET',
    }).done(function (results) {
        console.log(results);
        var listOfResults = results.response.docs;
        console.log(listOfResults);
        for (let i = 0; i < 2; i++) {
            let listOfMedia = listOfResults[i].multimedia;
            let selectedMedia = null;
            let mediaHeight = 50;
            if (listOfMedia.length !== 0) {
                for (let i = 0; i < listOfMedia.length; i++) {
                    if (listOfMedia[i].subtype === "square640") {
                        selectedMedia = "http://www.nytimes.com/" + listOfMedia[i].url;
                        mediaHeight = listOfMedia[i].height;
                    }
                }
            }
            if (selectedMedia === null) {
                var urlImage = 'https://api.cognitive.microsoft.com/bing/v7.0/images/search?';
                urlImage += $.param({
                    'q': listOfResults[i].headline.main,
                    'count': 1,
                    'offset': 0,
                    'mkt': 'en-us',
                    'safeSearch': 'Moderate'
                });
                $.ajax({
                    url: urlImage,
                    method: 'GET',
                    host: 'https://colin.cognitiveservices.azure.com/bing/v7.0',
                    beforeSend: function (xhrObj) {
                        // Request headers
                        xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "[[${bingKey}]]");
                    },
                }).done(function (results) {
                    console.log("IMAGE RESULT:");
                    console.log(results);
                    selectedMedia = results.value[0].contentUrl;
                    console.log(results.value);
                    console.log(results.value[0].contentUrl);
                    let formatedDate = listOfResults[i].pub_date.split("T");
                    formatedDate = formatedDate[0];
                    console.log(selectedMedia);
                    $("#newsSourceArea").append("<div class=\"card mb-3\" style=\"max-width: 540px;height:30vh;\">\n" +
                        "    <div class=\"row no-gutters\">\n" +
                        "        <div class=\"col-md-4\">\n" +
                        "            <img src=\"" + selectedMedia + "\" style='height:30vh;width:30vh;'class=\"card-img\" alt=\"...\">\n" +
                        "        </div>\n" +
                        "        <div class=\"col-md-8\">\n" +
                        "            <div class=\"card-body\">\n" +
                        "                <h5 class=\"card-title mt-0\">" + listOfResults[i].headline.main + "</h5>\n" +
                        "                <p class=\"card-text\">Check out the article here: <a href=" + listOfResults[i].web_url + ">Link</a></p>\n" +
                        "                <p class=\"card-text\">" + formatedDate + "</p>\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    </div>\n" +
                        "</div>");
                }).fail(function (err) {
                    throw err;
                })
            } else {
                let formatedDate = listOfResults[i].pub_date.split("T");
                formatedDate = formatedDate[0];
                console.log(selectedMedia);
                $("#newsSourceArea").append("<div class=\"card mb-3\" style=\"max-width: 540px;height:30vh;\">\n" +
                    "    <div class=\"row no-gutters\">\n" +
                    "        <div class=\"col-md-4\">\n" +
                    "            <img src=\"" + selectedMedia + "\" style='height:30vh;width:30vh;'class=\"card-img\" alt=\"...\">\n" +
                    "        </div>\n" +
                    "        <div class=\"col-md-8\">\n" +
                    "            <div class=\"card-body\">\n" +
                    "                <h5 class=\"card-title mt-0\">" + listOfResults[i].headline.main + "</h5>\n" +
                    "                <p class=\"card-text\">Check out the article here: <a href=" + listOfResults[i].web_url + ">Link</a></p>\n" +
                    "                <p class=\"card-text\">" + formatedDate + "</p>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</div>");
            }
        }

    }).fail(function (err) {
        throw err;
    })

    $('#editEntry').submit(function(e){
        $('#editDate, #editTotalCases, #editTotalDeaths, #editNewDeaths, #editNewCases').each(function() {
            let stop = false;
            if ($(this).val() === "" || $(this).val() == null) {
                e.preventDefault();
                stop = true;
                document.getElementById(this.id).style.borderColor = "red";
                document.getElementById(this.id).style.borderWidth = "thick";
            } else {
                document.getElementById(this.id).style.borderColor = "black";
                document.getElementById(this.id).style.borderWidth = "medium";
            }
            if (stop) {
                alert("Unable to submit. Please fill in the required fields.");
                return false;
            }
        });
        alert("Entry successfully edited.");
    });
    $('#editEntryMalaria').submit(function(e){
        $('#editDateMalaria, #editTotalCasesMalaria, #editTotalDeathsMalaria').each(function() {
            let stop = false;
            if ($(this).val() === "" || $(this).val() == null) {
                e.preventDefault();
                stop = true;
                document.getElementById(this.id).style.borderColor = "red";
                document.getElementById(this.id).style.borderWidth = "medium";
            } else {
                document.getElementById(this.id).style.borderColor = "black";
                document.getElementById(this.id).style.borderWidth = "initial";
            }
            if (stop) {
                alert("Unable to submit. Please fill in the required fields.");
                return false;
            }
        });
        alert("Entry successfully edited.");
    });
</script>
</body>


</html>
