<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
<nav th:replace="partials/navbar :: navbar"/>
<div class="row">
    <div class="col-12">
        <input type="text" id="locationFilter" placeholder="Filter Locations...">
    </div>
</div>
<div class="row">
    <div id="card-area" class="col-12 d-flex flex-wrap">

    </div>
</div>


<footer class="py-2 text-white-50 d-none d-lg-block fixed-bottom
" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <a href="/login"><small>Login</small></a> || <a href="/admin"><small>Admin</small></a>
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>
<nav th:replace="partials/scripts :: scripts"/>
<script>
    const cardArea = $("#card-area");
    const searchTerm = $("#locationFilter");
    let locations = null;
    $.getJSON('location-navigation/api/locations', function (results) {
        locations = results;
        let cardAreaContent = '';
        results.forEach(function (location) {
            cardAreaContent += "<div class=\"card mx-3 mt-3\" style='width: 15em'>\n" +
                "  <div class=\"card-body\">\n" +
                "    <h5 class=\"card-title\">" + location.country + "</h5>\n" +
                "    <a href=\"/location/" + location.id + "\" class=\"btn btn-primary\">Go to page</a>\n" +
                "  </div>\n" +
                "</div>"

        });
        cardArea.html(cardAreaContent);
    }).done(function () {
            searchTerm.on("input", function () {
                cardArea.html('');
                let cardAreaContent = '';
                locations.forEach(function (location) {
                if (location.country.toLowerCase().startsWith(searchTerm.val().toLowerCase().trim())) {
                    cardAreaContent += "<div class=\"card mx-3 mt-3\" style='width: 15em'>\n" +
                        "  <div class=\"card-body\">\n" +
                        "    <h5 class=\"card-title\">" + location.country + "</h5>\n" +
                        "    <a href=\"/location/" + location.id + "\" class=\"btn btn-primary\">Go to page</a>\n" +
                        "  </div>\n" +
                        "</div>"
                }

            });
                cardArea.html(cardAreaContent);
        });
    })
</script>
</body>
</html>
