<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body style="background-image: url('')">
<nav th:replace="partials/navbar :: navbar"/>
<div class="container text-center d-none d-lg-block">
    <h1 class="display-3 page-title" style="color: white">Select Country</h1>
    <input class="w-50" type="text" id="locationFilter" placeholder="Filter Locations...">
</div>
<div class="row">
    <div id="card-area" class="col-12 d-flex flex-wrap justify-content-around">

    </div>
</div>


<footer class="py-2 text-white-50 d-none d-lg-block fixed-bottom
" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <a href="/login"><small>Login</small></a> || <a href="/admin"><small>Admin</small></a>
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>
<nav th:replace="partials/scripts :: scripts"/>
<script>
    const cardArea = $("#card-area");
    const searchTerm = $("#locationFilter");
    let locations = null;
    $.getJSON('/location-navigation/api/locations', function (results) {
        locations = results;
        let cardAreaContent = '';
        results.forEach(function (location) {
            cardAreaContent +=
                "    <a href=\"/location/" + location.id + "\" class=\"btn btn-dark m-3\">"+location.country+"</a>\n"
        });
        cardArea.html(cardAreaContent);
    }).done(function () {
            searchTerm.on("input", function () {
                cardArea.html('');
                let cardAreaContent = '';
                locations.forEach(function (location) {
                if (location.country.toLowerCase().startsWith(searchTerm.val().toLowerCase().trim())) {
                    cardAreaContent +=
                        "    <a href=\"/location/" + location.id + "\" class=\"btn btn-dark m-3 \">"+location.country+"</a>\n"

                }

            });
                cardArea.html(cardAreaContent);
        });
    })
</script>
</body>
</html>
