<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/head :: head" />
<style>
    .mapboxgl-marker {
        border-radius: 50%;
        border: 1px solid gray;
        background-color: #bf1010;
        cursor: pointer;
        opacity: 0.75;
    }

    .displayNone {
        display: none;
    }
</style>

<body class="login-body">

<nav th:replace="partials/navbar :: navbar" />

<div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="editEntry" th:action="@{'/editL'}" th:method="post" th:object="${entry}">
                    <div class="form-group">
                        <input th:field="*{id}" id="editId" class="form-control" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="editDate">Date</label>
                        <input th:field="*{date}" id="editDate" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label for="editLocation">Select Location</label>
                        <select th:field="*{location}" id = "editLocation" class="form-control location-select">
                            <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
                        </select>
                        <select th:field="*{disease}" id = "editDisease" class="form-control disease-select" style="display: none">
                            <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editTotalCases">Total Cases</label>
                        <input th:field="*{totalCases}" type="number" min="0" class="form-control" id="editTotalCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editNewCases">New Cases</label>
                        <input th:field="*{newCases}" type="number" min="0" class="form-control" id="editNewCases" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editTotalDeaths">Total Deaths</label>
                        <input th:field="*{totalDeaths}" type="number" min="0" class="form-control" id="editTotalDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editNewDeaths">New Deaths</label>
                        <input th:field="*{newDeaths}" type="number" min="0" class="form-control" id="editNewDeaths" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="whichLocationEdit" name="whichLocationEdit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade editModalMalaria" tabindex="-1" role="dialog" aria-labelledby="editModalMalaria" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="editEntryMalaria" th:action="@{'/editL'}" th:method="post" th:object="${entry}">
                    <div class="form-group">
                        <input th:field="*{id}" id="editIdMalaria" class="form-control" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="editDateMalaria">Date</label>
                        <input th:field="*{date}" id="editDateMalaria" class="form-control" type="date">
                    </div>
                    <div class="form-group">
                        <label for="editLocationMalaria">Select Location</label>
                        <select th:field="*{location}" id = "editLocationMalaria" class="form-control location-select">
                            <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getCountry()}"></option>
                        </select>
                        <select th:field="*{disease}" id = "editDiseaseMalaria" class="form-control disease-select" style="display: none">
                            <option th:each="disease : ${diseases}" th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editTotalCasesMalaria">Total Cases</label>
                        <input th:field="*{totalCases}" type="number" min="0" class="form-control" id="editTotalCasesMalaria" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="form-group">
                        <label for="editTotalDeathsMalaria">Total Deaths</label>
                        <input th:field="*{totalDeaths}" type="number" min="0" class="form-control" id="editTotalDeathsMalaria" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{5}">
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="whichLocationEditMalaria" name="whichLocationEdit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this entry?</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{'/deleteL'}" th:method="post">
                    <input type="hidden" id="whichLocationDelete" name="whichLocationDelete">
                    <input type="hidden" id="deleteId" name="deleteId">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h1 class="col page-title text-center" th:text="${locationName}"></h1>

<div class="row">
    <div class="col-6">
        <div id="mapContainerCorona">
            <div id='mapCorona' style='width: 100%; height: 70vh; margin-left: auto; margin-right: auto;'></div>
        </div>
        <div id="mapContainerEbola">
            <div id='mapEbola' style='width: 100%; height: 70vh; margin-left: auto; margin-right: auto;'></div>
        </div>
        <div id="mapContainerMalaria">
            <div id='mapMalaria' style='width: 100%; height: 70vh; margin-left: auto; margin-right: auto;'></div>
        </div>

    </div>
    <div class="col-6">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="coronaTab" data-toggle="tab" href="#coronaStat" role="tab" aria-controls="coronaStat" aria-selected="false">Corona</a>
                <a class="nav-item nav-link" id="ebolaTab" data-toggle="tab" href="#ebolaStat" role="tab" aria-controls="ebolaStat" aria-selected="false">Ebola</a>
                <a class="nav-item nav-link" id="malariaTab" data-toggle="tab" href="#malariaStat" role="tab" aria-controls="malariaStat" aria-selected="false">Malaria</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="coronaStat" role="tabpanel" aria-labelledby="coronaTab">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">New Cases</th>
                        <th scope="col">Total Cases</th>
                        <th scope="col">New Deaths</th>
                        <th scope="col">Total Deaths</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${corona}">
                        <td th:text="${entry.getDate()}"></td>
                        <td th:text="${entry.getNewCases()}"></td>
                        <td th:text="${entry.getTotalCases()}"></td>
                        <td th:text="${entry.getNewDeaths()}"></td>
                        <td th:text="${entry.getTotalDeaths()}"></td>
                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-warning editButton" data-toggle="modal" data-target=".editModal" th:attr="data-date = ${entry.getDate()}, data-location = ${entry.location.getId()}, data-disease = ${entry.disease.getId()}, data-newcases = ${entry.newCases}, data-totalcases = ${entry.totalCases}, data-newdeaths = ${entry.newDeaths}, data-totaldeaths = ${entry.totalDeaths}" th:id="${entry.getId()}">
                            Edit
                        </button></td>

                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-danger deleteButton" data-toggle="modal" data-target=".deleteModal" th:attr="data-location = ${entry.location.getId()}" th:id="${entry.getId()}">
                            Delete
                        </button></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${corona.totalPages gt 0}">
                    <ul class="pagination justify-content-center pg-dark">
                        <li class="page-item" th:classappend="${corona.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page=0|}"
                               aria-label="First"
                               title="First Page" rel="tooltip">
                                <- First
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${corona.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page={id}|(id=${corona.number lt 1 ? 0 : corona.number - 1})}"
                               aria-label="Previous"
                               title="Previous Page" rel="tooltip">
                                <<
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq corona.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( corona.number + 1, corona.totalPages > 5 + corona.number ? corona.number + 5 : corona.totalPages, 1)}">
                            <a class="page-link" th:href="@{|/location/${whichLocation}?page={id}|(id=${i - 1})}" th:text="${i}"
                               th:title="${'Page '+ i}"
                               rel="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${corona.number + 1 eq corona.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${corona.number + 1})}"
                               aria-label="Next"
                               title="Next Page" rel="tooltip">
                                >>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${corona.number + 1 eq corona.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${corona.totalPages - 1})}"
                               aria-label="Last"
                               title="Last Page" rel="tooltip">
                                Last ->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="ebolaStat" role="tabpanel" aria-labelledby="ebolaTab">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">New Cases</th>
                        <th scope="col">Total Cases</th>
                        <th scope="col">New Deaths</th>
                        <th scope="col">Total Deaths</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${ebola}">
                        <td th:text="${entry.getDate()}"></td>
                        <td th:text="${entry.getNewCases()}"></td>
                        <td th:text="${entry.getTotalCases()}"></td>
                        <td th:text="${entry.getNewDeaths()}"></td>
                        <td th:text="${entry.getTotalDeaths()}"></td>
                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-warning editButton" data-toggle="modal" data-target=".editModal" th:attr="data-date = ${entry.getDate()}, data-location = ${entry.location.getId()}, data-disease = ${entry.disease.getId()}, data-newcases = ${entry.newCases}, data-totalcases = ${entry.totalCases}, data-newdeaths = ${entry.newDeaths}, data-totaldeaths = ${entry.totalDeaths}" th:id="${entry.getId()}">
                            Edit
                        </button></td>

                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-danger deleteButton" data-toggle="modal" data-target=".deleteModal" th:attr="data-location = ${entry.location.getId()}" th:id="${entry.getId()}">
                            Delete
                        </button></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${ebola.totalPages gt 0}">
                    <ul class="pagination justify-content-center pg-dark">
                        <li class="page-item" th:classappend="${ebola.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page=0|}"
                               aria-label="First"
                               title="First Page" rel="tooltip">
                                <- First
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${ebola.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page={id}|(id=${ebola.number lt 1 ? 0 : ebola.number - 1})}"
                               aria-label="Previous"
                               title="Previous Page" rel="tooltip">
                                <<
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq ebola.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( ebola.number + 1, ebola.totalPages > 5 + ebola.number ? ebola.number + 5 : ebola.totalPages, 1)}">
                            <a class="page-link" th:href="@{|/location/${whichLocation}?page={id}|(id=${i - 1})}" th:text="${i}"
                               th:title="${'Page '+ i}"
                               rel="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${ebola.number + 1 eq ebola.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${ebola.number + 1})}"
                               aria-label="Next"
                               title="Next Page" rel="tooltip">
                                >>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${ebola.number + 1 eq ebola.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${ebola.totalPages - 1})}"
                               aria-label="Last"
                               title="Last Page" rel="tooltip">
                                Last ->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="malariaStat" role="tabpanel" aria-labelledby="malariaTab">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Total Cases</th>
                        <th scope="col">Total Deaths</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${malaria}">
                        <td th:text="${entry.getDate()}"></td>
                        <td th:text="${entry.getTotalCases()}"></td>
                        <td th:text="${entry.getTotalDeaths()}"></td>
                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-warning editButton" data-toggle="modal" data-target=".editModalMalaria" th:attr="data-date = ${entry.getDate()}, data-location = ${entry.location.getId()}, data-disease = ${entry.disease.getId()}, data-totalcases = ${entry.totalCases}, data-totaldeaths = ${entry.totalDeaths}" th:id="${entry.getId()}">
                            Edit
                        </button></td>
                        <td sec:authorize="isAuthenticated()"><button type="button" class="btn btn-danger deleteButton" data-toggle="modal" data-target=".deleteModal" th:attr="data-location = ${entry.location.getId()}" th:id="${entry.getId()}">
                            Delete
                        </button></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Pagination" th:if="${malaria.totalPages gt 0}">
                    <ul class="pagination justify-content-center pg-dark">
                        <li class="page-item" th:classappend="${malaria.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page=0|}"
                               aria-label="First"
                               title="First Page" rel="tooltip">
                                <- First
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${malaria.number eq 0} ? 'disabled'">
                            <a class="page-link svg-icon"
                               th:href="@{|/location/${whichLocation}?page={id}|(id=${malaria.number lt 1 ? 0 : malaria.number - 1})}"
                               aria-label="Previous"
                               title="Previous Page" rel="tooltip">
                                <<
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${i eq malaria.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( malaria.number + 1, malaria.totalPages > 5 + malaria.number ? malaria.number + 5 : malaria.totalPages, 1)}">
                            <a class="page-link" th:href="@{|/location/${whichLocation}?page={id}|(id=${i - 1})}" th:text="${i}"
                               th:title="${'Page '+ i}"
                               rel="tooltip"></a>
                        </li>
                        <li class="page-item" th:classappend="${malaria.number + 1 eq malaria.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${malaria.number + 1})}"
                               aria-label="Next"
                               title="Next Page" rel="tooltip">
                                >>
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${malaria.number + 1 eq malaria.totalPages} ? 'disabled'">
                            <a class="page-link svg-icon" th:href="@{|/location/${whichLocation}?page={id}|(id=${malaria.totalPages - 1})}"
                               aria-label="Last"
                               title="Last Page" rel="tooltip">
                                Last ->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>

<h3 class="col page-title text-center mb-0 p-2" style="background-color: darkgrey">NEWS ALERTS</h3>
<div id="newsSourceArea" class="d-flex justify-content-around" style="background-color: darkgrey">
    <img id="gif" src="https://contagion.watch/img/dna-loading.gif">
</div>
<div style="display: none" id="locationName" th:text="${locationName}"></div>

<nav th:replace="partials/footer :: footer" />

<nav th:replace="partials/scripts :: scripts" />
<script>
    $('.editButton').on('click', function(event) {
        let button = $(this);
        let number = button.attr('id');
        $("#editId").val(number);
        $("#editDate").val(button.data('date'));
        $("#editLocation").val(button.data('location'));
        $("#editDisease").val(button.data('disease'));
        $("#editNewCases").val(button.data('newcases'));
        $("#editTotalCases").val(button.data('totalcases'));
        $("#editNewDeaths").val(button.data('newdeaths'));
        $("#editTotalDeaths").val(button.data('totaldeaths'));
        $("#whichLocationEdit").val(button.data('location'));
    })

    $('.editButtonMalaria').on('click', function(event) {
        let button = $(this);
        let number = button.attr('id');
        $("#editIdMalaria").val(number);
        $("#editDateMalaria").val(button.data('date'));
        $("#editLocationMalaria").val(button.data('location'));
        $("#editDiseaseMalaria").val(button.data('disease'));
        $("#editTotalCasesMalaria").val(button.data('totalcases'));
        $("#editTotalDeathsMalaria").val(button.data('totaldeaths'));
        $('#whichLocationEditMalaria').val(button.data('location'));
    })

    $('.deleteButton').on('click', function(event) {
        let button = $(this);
        let number = button.attr('id');
        $("#deleteId").val(number);
        $("#whichLocationDelete").val(button.data('location'));
    })
    $('#nav-tab a').click(function(e) {
        e.preventDefault();
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    })
    $(document).ready(function(){
        let activeTab = window.localStorage.getItem('activeTab');
        console.log(activeTab);
        if(activeTab === "#malariaStat"){
            document.getElementById('malariaTab').click();
        }
        else if (activeTab === "#ebolaStat"){
            document.getElementById('ebolaTab').click();
        }
        else {
            document.getElementById('coronaTab').click()

        }
    });
    $('#editEntry').submit(function(e){
        $('#editDate, #editTotalCases, #editTotalDeaths, #editNewDeaths, #editNewCases').each(function() {
            let stop = false;
            if ($(this).val() === "" || $(this).val() == null) {
                e.preventDefault();
                stop = true;
                document.getElementById(this.id).style.borderColor = "red";
                document.getElementById(this.id).style.borderWidth = "thick";
            } else {
                document.getElementById(this.id).style.borderColor = "black";
                document.getElementById(this.id).style.borderWidth = "medium";
            }
            if (stop) {
                alert("Unable to submit. Please fill in the required fields.");
                return false;
            }
        });
        alert("Entry successfully edited.");
    });
    $('#editEntryMalaria').submit(function(e){
        $('#editDateMalaria, #editTotalCasesMalaria, #editTotalDeathsMalaria').each(function() {
            let stop = false;
            if ($(this).val() === "" || $(this).val() == null) {
                e.preventDefault();
                stop = true;
                document.getElementById(this.id).style.borderColor = "red";
                document.getElementById(this.id).style.borderWidth = "medium";
            } else {
                document.getElementById(this.id).style.borderColor = "black";
                document.getElementById(this.id).style.borderWidth = "initial";
            }
            if (stop) {
                alert("Unable to submit. Please fill in the required fields.");
                return false;
            }
        });
        alert("Entry successfully edited.");
    });
    var url = 'https://api.nytimes.com/svc/search/v2/articlesearch.json';
    url += '?' + $.param({
        'api-key': "[[${nytKey}]]",
        'q': 'Coronavirus',
        'begin_date': '20200101',
        'end_date': '20200229'
    });
    $.ajax({
        url: url,
        method: 'GET',
    }).done(function (results) {
        console.log(results);
        var listOfResults = results.response.docs;
        console.log(listOfResults);
        for (let i = 0; i < 2; i++) {
            let listOfMedia = listOfResults[i].multimedia;
            let selectedMedia = null;
            let mediaHeight = 50;
            if (listOfMedia.length !== 0) {
                for (let i = 0; i < listOfMedia.length; i++) {
                    if (listOfMedia[i].subtype === "square640") {
                        selectedMedia = "http://www.nytimes.com/" + listOfMedia[i].url;
                        mediaHeight = listOfMedia[i].height;
                    }
                }
            }
            if (selectedMedia === null) {
                var urlImage = 'https://api.cognitive.microsoft.com/bing/v7.0/images/search?';
                urlImage += $.param({
                    'q': listOfResults[i].headline.main,
                    'count': 1,
                    'offset': 0,
                    'mkt': 'en-us',
                    'safeSearch': 'Moderate'
                });
                $.ajax({
                    url: urlImage,
                    method: 'GET',
                    host: 'https://colin.cognitiveservices.azure.com/bing/v7.0',
                    beforeSend: function (xhrObj) {
                        // Request headers
                        xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "[[${bingKey}]]");
                    },
                }).done(function (results) {
                    $('#gif').css('display', 'none');
                    console.log("IMAGE RESULT:");
                    console.log(results);
                    selectedMedia = results.value[0].contentUrl;
                    console.log(results.value);
                    console.log(results.value[0].contentUrl);
                    let formatedDate = listOfResults[i].pub_date.split("T");
                    formatedDate = formatedDate[0];
                    console.log(selectedMedia);
                    $("#newsSourceArea").append("<div class=\"card mb-3\" style=\"max-width: 540px;height:22.5vh;\">\n" +
                        "    <div class=\"row no-gutters\">\n" +
                        "        <div class=\"col-md-4\">\n" +
                        "            <img src=\"" + selectedMedia + "\" style='height:22.5vh;width:100%;'class=\"card-img\" alt=\"...\">\n" +
                        "        </div>\n" +
                        "        <div class=\"col-md-8\">\n" +
                        "            <div class=\"card-body\">\n" +
                        "                <h5 class=\"card-title mt-0\">" + listOfResults[i].headline.main + "</h5>\n" +
                        "                <p class=\"card-text\">Check out the article here: <a href=" + listOfResults[i].web_url + ">Link</a></p>\n" +
                        "                <p class=\"card-text\">" + formatedDate + "</p>\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    </div>\n" +
                        "</div>");
                }).fail(function (err) {
                    throw err;
                })
            } else {
                $('#gif').css('display', 'none');
                let formatedDate = listOfResults[i].pub_date.split("T");
                formatedDate = formatedDate[0];
                console.log(selectedMedia);
                $("#newsSourceArea").append("<div class=\"card mb-3\" style=\"max-width: 540px;height:22.5vh;\">\n" +
                    "    <div class=\"row no-gutters\">\n" +
                    "        <div class=\"col-md-4\">\n" +
                    "            <img src=\"" + selectedMedia + "\" style='height:22.5vh;width:100%;'class=\"card-img\" alt=\"...\">\n" +
                    "        </div>\n" +
                    "        <div class=\"col-md-8\">\n" +
                    "            <div class=\"card-body\">\n" +
                    "                <h5 class=\"card-title mt-0\">" + listOfResults[i].headline.main + "</h5>\n" +
                    "                <p class=\"card-text\">Check out the article here: <a href=" + listOfResults[i].web_url + ">Link</a></p>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</div>");
            }
        }

    }).fail(function (err) {
        throw err;
    });
</script>
<script>
    var coronaButton = $("#coronaTab");
    var coronaMap = $("#mapCorona");
    var coronaMapContainer = $("#mapContainerCorona");
    var ebolaButton = $("#ebolaTab");
    var ebolaMap = $("#mapEbola");
    var ebolaMapContainer = $("#mapContainerEbola");
    var malariaButton = $("#malariaTab");
    var malariaMap = $("#mapMalaria");
    var malariaMapContainer = $("#mapContainerMalaria");
    var mapboxKey = "[[${mapboxKey}]]";
    mapboxgl.accessToken = mapboxKey;
    var mapCorona = new mapboxgl.Map({
        container: 'mapCorona',
        style: 'mapbox://styles/mapbox/streets-v11',
        interactive: false
    });
    var mapEbola = new mapboxgl.Map({
        container: 'mapEbola',
        style: 'mapbox://styles/mapbox/streets-v11',
        interactive: false
    });
    var mapMalaria = new mapboxgl.Map({
        container: 'mapMalaria',
        style: 'mapbox://styles/mapbox/streets-v11',
        interactive: false
    });

    var locationName = $("#locationName").text();
    geocode(locationName, mapboxKey).then(function (result) {
        mapCorona.setCenter(result);
        mapCorona.setZoom(3);
        mapEbola.setCenter(result);
        mapEbola.setZoom(3);
        mapMalaria.setCenter(result);
        mapMalaria.setZoom(3);
    });
    $.getJSON('/map/api/1', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            if(data[i].location.country !== locationName){
                continue;
            }

                if (data[i].location.country === "United States of America") {
                let el = document.createElement('div');
                el.className = 'state';
                let el2 = document.createElement('div');
                el2.className = 'state';
                let el3 = document.createElement('div');
                el3.className = 'state';
                let el4 = document.createElement('div');
                el4.className = 'state';
                let el5 = document.createElement('div');
                el5.className = 'state';
                let el6 = document.createElement('div');
                el6.className = 'state';
                let el7 = document.createElement('div');
                el7.className = 'state';
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 25;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                el2.style.width = size + "px";
                el2.style.height = size + "px";
                el3.style.width = size + "px";
                el3.style.height = size + "px";
                el4.style.width = size + "px";
                el4.style.height = size + "px";
                el5.style.width = size + "px";
                el5.style.height = size + "px";
                el6.style.width = size + "px";
                el6.style.height = size + "px";
                el7.style.width = size + "px";
                el7.style.height = size + "px";

                //Washington
                new mapboxgl.Marker(el)
                    .setLngLat([-122.3321, 47.6062])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 1'
                    ))
                    .addTo(mapCorona);
                //Cali
                new mapboxgl.Marker(el2)
                    .setLngLat([-119.4179, 36.7783])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 8'
                    ))
                    .addTo(mapCorona);
                //Arizona
                new mapboxgl.Marker(el3)
                    .setLngLat([-111.0937, 34.0489])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 1'
                    ))
                    .addTo(mapCorona);
                //Texas
                new mapboxgl.Marker(el4)
                    .setLngLat([-98.4936, 29.4241])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 1'
                    ))
                    .addTo(mapCorona);
                //Mass
                new mapboxgl.Marker(el5)
                    .setLngLat([-71.3824, 42.4072])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 1'
                    ))
                    .addTo(mapCorona);
                //Wisconsin
                new mapboxgl.Marker(el6)
                    .setLngLat([-88.7879, 43.7844])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 1'
                    ))
                    .addTo(mapCorona);
                //Illonois
                new mapboxgl.Marker(el7)
                    .setLngLat([-89.3985, 40.6331])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: 2'
                    ))
                    .addTo(mapCorona);
                $(".state").hide();
                geocode(data[i].location.country, mapboxKey).then(function (result) {
                    let el8 = document.createElement('div');
                    el8.className = "usa";
                    let size = 0;
                    if (data[i].totalCases >= 1) {
                        size = 5;
                    }
                    if (data[i].totalCases > 10) {
                        size = 15;
                    }
                    if (data[i].totalCases > 30) {
                        size = 25;
                    }
                    if (data[i].totalCases > 1000) {
                        size = 50;
                    }
                    el8.style.width = size + "px";
                    el8.style.height = size + "px";
                    new mapboxgl.Marker(el8)
                        .setLngLat(result)
                        .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                            'Total cases: ' + data[i].totalCases
                        )) // sets a popup on this marker
                        .addTo(mapCorona);
                });
                continue;
            }
            if (data[i].location.country === "China") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([114.3055, 30.5928])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    ))
                    .addTo(mapCorona);
                continue;
            }
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([42.3154, 43.3569])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
            })
        }
    });
    $.getJSON('/map/api/2', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            if(data[i].location.country !== locationName){
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapEbola);
            })
        }
    });
    $.getJSON('/map/api/3', function (data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            if(data[i].location.country !== locationName){
                continue;
            }
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1) {
                    size = 2.5;
                }
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([43.3569, 42.3154])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    ))
                    .addTo(mapMalaria);
                continue;
            }


            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1) {
                    size = 5;
                }
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapMalaria);
            })
        }
    });
    var el = document.createElement('div');
    el.id = 'popup';
    ebolaMapContainer.hide();
    malariaMapContainer.hide();
    malariaButton.on("click", function () {
        coronaMapContainer.hide();
        ebolaMapContainer.hide();
        setTimeout(function () {
            mapMalaria.resize();
        }, 250);
        malariaMapContainer.show();
    });
    ebolaButton.on("click", function () {
        coronaMapContainer.hide();
        malariaMapContainer.hide();
        setTimeout(function () {
            mapEbola.resize();
        }, 250);
        ebolaMapContainer.show();
    });
    coronaButton.on("click", function () {
        ebolaMapContainer.hide();
        malariaMapContainer.hide();
        setTimeout(function () {
            mapCorona.resize();
        }, 250);
        coronaMapContainer.show();
    });



</script>
</body>

</html>
