<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head" />

<body class="login-body">

<nav th:replace="partials/navbar :: navbar" />

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<!--  DESKTOP -->
    <h1 class="page-title text-center p-5 d-none d-lg-block">ADMIN LOGIN - RESTRICTED ACCESS</h1>

    <form class="text-center p-5 d-none d-lg-block" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="usernameDT">Admin Username</label>
            <input type="text" class="form-control" name="username" id="usernameDT" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="passwordDT">Password</label>
            <input type="password" name="password" class="form-control" id="passwordDT">
        </div>
        <button type="submit" value="Log In"class="btn btn-primary">Submit</button>
    </form>


<footer class="py-2 text-white-50 fixed-bottom d-none d-lg-block" style="background-color: black">
    <div class="container text-center">
        <small>Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <small>Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<!-- MOBILE -->

<h1 class="page-title text-center p-5 d-block d-lg-none" style="font-size: 5em">ADMIN LOGIN</h1>
<h1 class="page-title text-center d-block d-lg-none" style="font-size: 5em">RESTRICTED ACCESS</h1>

<form class="text-center p-5 d-block d-lg-none">
    <div class="form-group">
        <label for="usernameMB" style="font-size: 5em">Admin Username</label>
        <input type="text" class="form-control" id="usernameMB" name="username" aria-describedby="emailHelp" style="height: 7em">
    </div>
    <div class="form-group">
        <label for="passwordMB" style="font-size: 5em">Password</label>
        <input type="password" class="form-control" name="password" id="passwordMB" style="height: 7em">
    </div>
    <button type="submit" value="Log In" class="btn btn-primary btn-lg" style="font-size: 5em; border-radius: 25px; margin-top: 1em">Submit</button>
</form>


<footer class="py-2 text-white-50 fixed-bottom d-block d-lg-none" style="background-color: black">
    <div class="container text-center">
        <small style="font-size: 2em">Contagion Watch 2020</small>
    </div>
    <div class="container text-center">
        <small style="font-size: 2em">Built by: Alexander Lee, Colin Marchbanks, Joshua Peters</small>
    </div>
</footer>

<nav th:replace="partials/scripts :: scripts" />

</body>

</html>
