<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head"></head>
<style>
    .mapboxgl-marker {
        border-radius: 50%;
        border: 1px solid gray;
        background-color: #bf1010;
        cursor: pointer;
        opacity: 0.75;
    }

    .displayNone {
        display: none;
    }

    .filter-ctrl {
        position: absolute;
        top: 10px;
        right: 60px;
        z-index: 1;
        height: 35px;
    }

    .filter-button {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1;
        height: 40px;
        border-radius: 3px;
    }

    .nav-tabs .active{
        background-color: darkgrey!important;
        color: white!important;
    }

    .filter-ctrl input[type='text'] {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        width: 100%;
        border: 0;
        background-color: #fff;
        margin: 0;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 180px;
    }
</style>

<body style="background-image: url('img/black-small-background.jpg')">

<nav th:replace="partials/navbar :: navbar"></nav>

<!--Desktop map page-->
<div class="row pt-3">
    <div class="col-12 col-lg-6">
        <div id="mapContainerCorona">
            <div id='mapCorona' style='width: 100%; height: 100vh; margin-left: auto; margin-right: auto;'></div>
            <div class="filter-ctrl">
                <input
                        id="filter-inputCorona"
                        type="text"
                        name="filter"
                        placeholder="Filter by location"
                />
            </div>
            <button class="filter-button" id="searchCorona">Go</button>
        </div>
        <div id="mapContainerEbola">
            <div id='mapEbola' style='width: 100%; height: 100vh; margin-left: auto; margin-right: auto;'></div>
            <div class="filter-ctrl">
                <input
                        id="filter-inputEbola"
                        type="text"
                        name="filter"
                        placeholder="Filter by location"
                />
            </div>
            <button class="filter-button" id="searchEbola">Go</button>
        </div>
        <div id="mapContainerMalaria">
            <div id='mapMalaria' style='width: 100%; height: 100vh; margin-left: auto; margin-right: auto;'></div>
            <div class="filter-ctrl">
                <input
                        id="filter-inputMalaria"
                        type="text"
                        name="filter"
                        placeholder="Filter by location"
                />
            </div>
            <button class="filter-button" id="searchMalaria">Go</button>
        </div>

    </div>
    <div class="col-12 col-lg-6">
        <div class="nav nav-tabs mt-3 map-nav" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active mr-3 bg-white" id="coronaTab" data-toggle="tab" href="#coronaInfo" role="tab"
               aria-controls="coronaInfo" aria-selected="true">Coronavirus</a>
            <a class="nav-item nav-link mr-3 bg-white" id="ebolaTab" data-toggle="tab" href="#ebolaInfo" role="tab"
               aria-controls="ebolaInfo" aria-selected="false">Ebola</a>
            <a class="nav-item nav-link bg-white" id="malariaTab" data-toggle="tab" href="#MalariaInfo" role="tab"
               aria-controls="malariaStat" aria-selected="false">Malaria</a>
        </div>
        </nav>
        <div class="tab-content" id="diseaseInfo">
            <div class="accordion tab-pane active p-0" id="coronaInfo" role="tabpanel">
                <div class="card">
                    <div class="card-header" id="headOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#description"
                                    aria-expanded="true" aria-controls="description">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                What is this disease?
                            </button>

                        </h2>
                    </div>
                    <div id="description" class="collapse show" aria-labelledby="headOne" data-parent="#diseaseInfo">
                        <div class="card-body" th:text="${diseaseCorona.getDescription()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#symptoms"
                                    aria-expanded="true" aria-controls="symptoms">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                What are the symptoms?
                            </button>
                        </h2>
                    </div>
                    <div id="symptoms" class="collapse" aria-labelledby="headTwo" data-parent="#diseaseInfo">
                        <div class="card-body" th:text="${diseaseCorona.getSymptoms()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headThree">
                        <h2 class="mb-0">
                            <button id="modalDiseaseField" class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#transmissions" aria-expanded="true" aria-controls="transmissions">
                               <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be transmitted?
                            </button>
                        </h2>
                    </div>
                    <div id="transmissions" class="collapse" aria-labelledby="headThree" data-parent="#diseaseInfo">
                        <div class="card-body" th:text="${diseaseCorona.getTransmission()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#treatments"
                                    aria-expanded="true" aria-controls="treatments">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be treated?
                            </button>
                        </h2>
                    </div>
                    <div id="treatments" class="collapse" aria-labelledby="headFour" data-parent="#diseaseInfo">
                        <div class="card-body" th:text="${diseaseCorona.getTreatments()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headFiveCorona">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#WhoCorona"
                                    aria-expanded="true" aria-controls="WhoCorona">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                World Health Organization Page
                            </button>
                        </h2>
                    </div>
                    <div id="WhoCorona" class="collapse" aria-labelledby="headFiveCorona" data-parent="#diseaseInfo">
                        <div class="card-body">
                            <img src="img/landing-image-one.jpg" style='height:20vh;width:40%;' alt="...">
                            <a class="ml-5" href="https://www.who.int/health-topics/coronavirus">World Health Organization on Corona</a></div>
                    </div>
                </div>
            </div>
            <div class="accordion tab-pane p-0" id="ebolaInfo" role="tabpanel">
                <div class="card">
                    <div class="card-header" id="headOneEbola">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#descriptionEbola"
                                    aria-expanded="true" aria-controls="descriptionEbola">
                               <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                What is this disease?
                            </button>
                        </h2>
                    </div>
                    <div id="descriptionEbola" class="collapse show" aria-labelledby="headOneEbola"
                         data-parent="#ebolaInfo">
                        <div class="card-body" th:text="${diseaseEbola.getDescription()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headTwoEbola">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#symptomsEbola"
                                    aria-expanded="true" aria-controls="symptomsEbola">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                What are the symptoms?
                            </button>
                        </h2>
                    </div>
                    <div id="symptomsEbola" class="collapse" aria-labelledby="headTwoEbola" data-parent="#ebolaInfo">
                        <div class="card-body" th:text="${diseaseEbola.getSymptoms()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headThreeEbola">
                        <h2 class="mb-0">
                            <button id="modalDiseaseFieldEbola" class="btn btn-link" type="button"
                                    data-toggle="collapse"
                                    data-target="#transmissionsEbola" aria-expanded="true"
                                    aria-controls="transmissionsEbola">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be transmitted?
                            </button>
                        </h2>
                    </div>
                    <div id="transmissionsEbola" class="collapse" aria-labelledby="headThreeEbola"
                         data-parent="#ebolaInfo">
                        <div class="card-body" th:text="${diseaseEbola.getTransmission()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headFourEbola">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#treatmentsEbola"
                                    aria-expanded="true" aria-controls="treatmentsEbola">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be treated?
                            </button>
                        </h2>
                    </div>
                    <div id="treatmentsEbola" class="collapse" aria-labelledby="headFour" data-parent="#ebolaInfo">
                        <div class="card-body" th:text="${diseaseEbola.getTreatments()}">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headFiveEbola">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#WhoEbola"
                                    aria-expanded="true" aria-controls="WhoEbola">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                World Health Organization Page
                            </button>
                        </h2>
                    </div>
                    <div id="WhoEbola" class="collapse" aria-labelledby="headFiveEbola" data-parent="#ebolaInfo">
                        <div class="card-body">
                            <img src="img/landing-ebola-one.jpg" style='height:20vh;width:40%;' alt="...">
                            <a class="ml-5" href="https://www.who.int/malaria/en/">World Health Organization on Ebola</a></div>
                    </div>
                </div>
            </div>
            <div class="accordion tab-pane p-0" id="MalariaInfo" role="tabpanel">
                <div class="card">
                    <div class="card-header" id="headOneMalaria">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#descriptionMalaria"
                                    aria-expanded="true" aria-controls="descriptionMalaria">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>

                                What is this disease?
                            </button>
                        </h2>
                    </div>
                    <div id="descriptionMalaria" class="collapse show" aria-labelledby="headOneMalaria"
                         data-parent="#MalariaInfo">
                        <div class="card-body" th:text="${diseaseMalaria.getDescription()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headTwoMalaria">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#symptomsMalaria"
                                    aria-expanded="true" aria-controls="symptomsMalaria">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                What are the symptoms?
                            </button>
                        </h2>
                    </div>
                    <div id="symptomsMalaria" class="collapse" aria-labelledby="headTwoMalaria"
                         data-parent="#MalariaInfo">
                        <div class="card-body" th:text="${diseaseMalaria.getSymptoms()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headThreeMalaria">
                        <h2 class="mb-0">
                            <button id="modalDiseaseFieldMalaria" class="btn btn-link" type="button"
                                    data-toggle="collapse"
                                    data-target="#transmissionsMalaria" aria-expanded="true"
                                    aria-controls="transmissionsMalaria">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be transmitted?
                            </button>
                        </h2>
                    </div>
                    <div id="transmissionsMalaria" class="collapse" aria-labelledby="headThreeMalaria"
                         data-parent="#MalariaInfo">
                        <div class="card-body" th:text="${diseaseMalaria.getTransmission()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headFourMalaria">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#treatmentsMalaria"
                                    aria-expanded="true" aria-controls="treatments">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                How can this disease be treated?

                            </button>
                        </h2>
                    </div>
                    <div id="treatmentsMalaria" class="collapse" aria-labelledby="headFourMalaria"
                         data-parent="#MalariaInfo">
                        <div class="card-body" th:text="${diseaseMalaria.getTreatments()}">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headFiveMalaria">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#WhoMalaria"
                                    aria-expanded="true" aria-controls="WhoMalaria">
                                <span class="fa-stack fa-sm">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
      </span>
                                World Health Organization Page
                            </button>
                        </h2>
                    </div>
                    <div id="WhoMalaria" class="collapse" aria-labelledby="headFiveMalaria" data-parent="#MalariaInfo">
                        <div class="card-body">
                            <img src="img/landing-malaria-one.jpeg" style='height:20vh;width:40%;' alt="...">
                            <a class="ml-5" href="https://www.who.int/malaria/en/">World Health Organization on Malaria</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<nav th:replace="partials/footer :: footer"></nav>

<nav th:replace="partials/scripts :: scripts"></nav>
<script>
    var coronaButton = $("#coronaTab");
    var coronaMap = $("#mapCorona");
    var coronaMapContainer = $("#mapContainerCorona");
    var coronaWHOcard = $("#whoCorona");
    var inputSearchCorona = $("#filter-inputCorona");
    var inputSearchButtonCorona = $("#searchCorona");
    var ebolaButton = $("#ebolaTab");
    var ebolaMap = $("#mapEbola");
    var ebolaMapContainer = $("#mapContainerEbola");
    var ebolaWHOcard = $("#whoEbola");
    var inputSearchEbola = $("#filter-inputEbola");
    var inputSearchButtonEbola = $("#searchEbola");
    var malariaButton = $("#malariaTab");
    var malariaMap = $("#mapMalaria");
    var malariaWHOcard = $("#whoMalaria");
    var malariaMapContainer = $("#mapContainerMalaria");
    var inputSearchMalaria = $("#filter-inputMalaria");
    var inputSearchButtonMalaria = $("#searchMalaria");
    var mapboxKey = "[[${mapboxKey}]]";
    mapboxgl.accessToken = mapboxKey;
    var mapCorona = new mapboxgl.Map({
        container: 'mapCorona',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    var mapEbola = new mapboxgl.Map({
        container: 'mapEbola',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    var mapMalaria = new mapboxgl.Map({
        container: 'mapMalaria',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    mapCorona.setCenter([0, 0]);
    mapCorona.setZoom(.25);
    mapCorona.setMaxZoom(3);
    mapEbola.setCenter([0, 0]);
    mapEbola.setZoom(.25);
    mapEbola.setMaxZoom(3);
    mapMalaria.setCenter([0, 0]);
    mapMalaria.setZoom(.25);
    mapMalaria.setMaxZoom(3);
    $.getJSON('/map/api/1', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            if (data[i].location.country === "United States of America") {
                let el = document.createElement('div');
                el.className = 'state';
                let el2 = document.createElement('div');
                el2.className = 'state';
                let el3 = document.createElement('div');
                el3.className = 'state';
                let el4 = document.createElement('div');
                el4.className = 'state';
                let el5 = document.createElement('div');
                el5.className = 'state';
                let el6 = document.createElement('div');
                el6.className = 'state';
                let el7 = document.createElement('div');
                el7.className = 'state';
                let el8 = document.createElement('div');
                el8.className = 'state';
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 25;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                el2.style.width = size + "px";
                el2.style.height = size + "px";
                el3.style.width = size + "px";
                el3.style.height = size + "px";
                el4.style.width = size + "px";
                el4.style.height = size + "px";
                el5.style.width = size + "px";
                el5.style.height = size + "px";
                el6.style.width = size + "px";
                el6.style.height = size + "px";
                el7.style.width = size + "px";
                el7.style.height = size + "px";
                el8.style.width = size + "px";
                el8.style.height = size + "px";


                //Washington
                new mapboxgl.Marker(el)
                    .setLngLat([-122.3321, 47.6062])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Washington</h3><h5>Total Cases: 1</h5>'
                    ))
                    .addTo(mapCorona);
                //Cali
                new mapboxgl.Marker(el2)
                    .setLngLat([-119.4179, 36.7783])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">California</h3><h5>Total Cases: 12</h5>'
                    ))
                    .addTo(mapCorona);
                //Arizona
                new mapboxgl.Marker(el3)
                    .setLngLat([-111.0937, 34.0489])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Arizona</h3><h5>Total Cases: 1</h5>'
                    ))
                    .addTo(mapCorona);
                //Texas
                new mapboxgl.Marker(el4)
                    .setLngLat([-98.4936, 29.4241])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Texas</h3><h5>Total Cases: 6</h5>'
                    ))
                    .addTo(mapCorona);
                //Mass
                new mapboxgl.Marker(el5)
                    .setLngLat([-71.3824, 42.4072])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Massachusetts</h3><h5>Total Cases: 1</h5>'
                    ))
                    .addTo(mapCorona);
                //Wisconsin
                new mapboxgl.Marker(el6)
                    .setLngLat([-88.7879, 43.7844])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Wisconsin</h3><h5>Total Cases: 1</h5>'
                    ))
                    .addTo(mapCorona);
                //Illonois
                new mapboxgl.Marker(el7)
                    .setLngLat([-89.3985, 40.6331])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Illinois</h3><h5>Total Cases: 2</h5>'
                    ))
                    .addTo(mapCorona);
                // Nebraska
                new mapboxgl.Marker(el8)
                    .setLngLat([-99.9018, 41.4925])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">Nebraska</h3><h5>Total Cases: 11</h5>'
                    ))
                    .addTo(mapCorona);
                $(".state").hide();
                geocode(data[i].location.country, mapboxKey).then(function (result) {
                    let el8 = document.createElement('div');
                    el8.className = "usa";
                    let size = 0;
                    if (data[i].totalCases >= 1) {
                        size = 5;
                    }
                    if (data[i].totalCases > 10) {
                        size = 15;
                    }
                    if (data[i].totalCases > 30) {
                        size = 25;
                    }
                    if (data[i].totalCases > 1000) {
                        size = 50;
                    }
                    el8.style.width = size + "px";
                    el8.style.height = size + "px";
                    new mapboxgl.Marker(el8)
                        .setLngLat(result)
                        .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                            '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                        )) // sets a popup on this marker
                        .addTo(mapCorona);
                });
                continue;
            }
            if (data[i].location.country === "China") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([114.3055, 30.5928])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                    ))
                    .addTo(mapCorona);
                continue;
            }
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([42.3154, 43.3569])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
            })
        }
    });
    $.getJSON('/map/api/2', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                    )) // sets a popup on this marker
                    .addTo(mapEbola);
            })
        }
    });
    $.getJSON('/map/api/3', function (data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Global") {
                continue;
            }
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1) {
                    size = 2.5;
                }
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([43.3569, 42.3154])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><<h5>Total Cases: '+data[i].totalCases+'</h5>'
                    ))
                    .addTo(mapMalaria);
                continue;
            }


            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1) {
                    size = 5;
                }
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setHTML(
                        '<h3 class="text-center">'+data[i].location.country+'</h3><h5>Total Cases: '+data[i].totalCases+'</h5>'
                    )) // sets a popup on this marker
                    .addTo(mapMalaria);
            })
        }
    });
    var el = document.createElement('div');
    el.id = 'popup';
    ebolaMapContainer.hide();
    ebolaWHOcard.hide();
    malariaMapContainer.hide();
    malariaWHOcard.hide();
    malariaButton.on("click", function () {
        coronaMapContainer.hide();
        ebolaMapContainer.hide();
        ebolaWHOcard.hide();
        coronaWHOcard.hide();
        malariaWHOcard.show();
        setTimeout(function () {
            mapMalaria.resize();
        }, 250);
        malariaMapContainer.show();
    });
    ebolaButton.on("click", function () {
        coronaMapContainer.hide();
        malariaMapContainer.hide();
        coronaWHOcard.hide();
        ebolaWHOcard.show();
        malariaWHOcard.hide();
        setTimeout(function () {
            mapEbola.resize();
        }, 250);
        ebolaMapContainer.show();
    });
    coronaButton.on("click", function () {
        ebolaMapContainer.hide();
        ebolaWHOcard.hide();
        malariaMapContainer.hide();
        coronaWHOcard.show();
        malariaWHOcard.hide();
        setTimeout(function () {
            mapCorona.resize();
        }, 250);
        coronaMapContainer.show();
    });
    inputSearchButtonCorona.on("click", function () {
        geocode(inputSearchCorona.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapCorona.setCenter(result);
            mapCorona.setZoom(3);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonEbola.on("click", function () {
        geocode(inputSearchEbola.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapEbola.setCenter(result);
            mapEbola.setZoom(3);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonMalaria.on("click", function () {
        geocode(inputSearchMalaria.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapMalaria.setCenter(result);
            mapMalaria.setZoom(3);
        }).catch(function () {
            console.log("Failure");
        });
    });
    mapCorona.on('zoom', () => {
        const currentZoom = mapCorona.getZoom();
        if (currentZoom == '3') {
            $('.state').show();
            $('.usa').hide();
        } else {
            $('.state').hide();
            $('.usa').show();
        }
    });

</script>

</body>

</html>
