<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head"></head>
<style>
    .mapboxgl-marker {
        border-radius: 50%;
        border: 1px solid gray;
        background-color: #bf1010;
        cursor: pointer;

    }
</style>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!--Desktop map page-->
<div class="row">
    <div class="col-12 col-lg-6">
        <div id='mapCorona' style='width: 100%; height: 80vh; margin-left: auto; margin-right: auto;'></div>
        <div id='mapEbola' style='width: 100%; height: 80vh; margin-left: auto; margin-right: auto;'></div>
        <div id='mapMalaria' style='width: 100%; height: 80vh; margin-left: auto; margin-right: auto;'></div>

    </div>
    <div class="col-12 col-lg-6">
        <div>
            <ul class="d-flex justify-content-between">
                <li>
                    <button id="coronaButton">Corona</button>
                </li>
                <li>
                    <button id="ebolaButton">Ebola</button>
                </li>
                <li>
                    <button id="malariaButton">Malaria</button>
                </li>
            </ul>
        </div>
        <input type="text" id="inputCorona">
        <button id="buttonCoronaSearch">Go to location</button>
        <input type="text" id="inputEbola">
        <button id="buttonEbolaSearch">Go to location</button>
        <input type="text" id="inputMalaria">
        <button id="buttonMalariaSearch">Go to location</button>
        <img class="mr-5 pr-5" style="height: 70vh;width: 100%" src="https://via.placeholder.com/150" alt="">
    </div>
</div>


<nav th:replace="partials/footer :: footer"></nav>

<nav th:replace="partials/scripts :: scripts"></nav>
<script>
    var coronaButton = $("#coronaButton");
    var coronaMap = $("#mapCorona");
    var inputSearchCorona = $("#inputCorona");
    var inputSearchButtonCorona = $("#buttonCoronaSearch");
    var ebolaButton = $("#ebolaButton");
    var ebolaMap = $("#mapEbola");
    var inputSearchEbola = $("#inputEbola");
    var inputSearchButtonEbola = $("#buttonEbolaSearch");
    var malariaButton = $("#malariaButton");
    var malariaMap = $("#mapMalaria");
    var inputSearchMalaria = $("#inputMalaria");
    var inputSearchButtonMalaria = $("#buttonMalariaSearch");
    var mapboxKey = "[[${mapboxKey}]]";
    mapboxgl.accessToken = mapboxKey;
    var mapCorona = new mapboxgl.Map({
        container: 'mapCorona',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    var mapEbola = new mapboxgl.Map({
        container: 'mapEbola',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    var mapMalaria = new mapboxgl.Map({
        container: 'mapMalaria',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
    $.getJSON('/map/api/1', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 2.5;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([42.3154, 43.3569])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 2.5;
                if (data[i].totalCases >= 1) {
                    size = 5;
                }
                if (data[i].totalCases > 10) {
                    size = 15;
                }
                if (data[i].totalCases > 30) {
                    size = 25;
                }
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapCorona);
            })
        }
    });
    $.getJSON('/map/api/2', function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([42.3154, 43.3569])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapEbola);
                continue;
            }

            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 0;
                if (data[i].totalCases > 1000) {
                    size = 50;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapEbola);
            })
        }
    });
    $.getJSON('/map/api/3', function (data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].location.country === "Georgia") {
                let el = document.createElement('div');
                let size = 2.5;
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([43.3569, 42.3154])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    ))
                    .addTo(mapMalaria);
                continue;
            }
            if (data[i].location.country === "Niue") {
                let el = document.createElement('div');
                let size = 2.5;
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat([169.8672, 19.0544])
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapMalaria);
                continue;
            }
            geocode(data[i].location.country, mapboxKey).then(function (result) {
                let el = document.createElement('div');
                let size = 2.5;
                if (data[i].totalCases > 100) {
                    size = 5;
                }
                if (data[i].totalCases > 1000) {
                    size = 10;
                }
                if (data[i].totalCases > 5000) {
                    size = 20;
                }
                if (data[i].totalCases > 10000) {
                    size = 25;
                }
                if (data[i].totalCases > 100000) {
                    size = 35;
                }
                if (data[i].totalCases > 1000000) {
                    size = 45;
                }
                el.style.width = size + "px";
                el.style.height = size + "px";
                new mapboxgl.Marker(el)
                    .setLngLat(result)
                    .setPopup(new mapboxgl.Popup({offset: 25}).setText(
                        'Total cases: ' + data[i].totalCases
                    )) // sets a popup on this marker
                    .addTo(mapMalaria);
            })
        }
    });
    var el = document.createElement('div');
    el.id = 'popup';
    ebolaMap.hide();
    inputSearchButtonEbola.hide();
    inputSearchEbola.hide();
    malariaMap.hide();
    inputSearchButtonMalaria.hide();
    inputSearchMalaria.hide();
    malariaButton.on("click", function () {
        inputSearchButtonMalaria.show();
        inputSearchMalaria.show();
        coronaMap.hide();
        inputSearchButtonCorona.hide();
        inputSearchCorona.hide();
        ebolaMap.hide();
        inputSearchButtonEbola.hide();
        inputSearchEbola.hide();
        setTimeout(function () {
            mapMalaria.resize();
        }, 250);
        malariaMap.show();
    });
    ebolaButton.on("click", function () {
        inputSearchButtonEbola.show();
        inputSearchEbola.show();
        coronaMap.hide();
        inputSearchButtonCorona.hide();
        inputSearchCorona.hide();
        malariaMap.hide();
        inputSearchButtonMalaria.hide();
        inputSearchMalaria.hide();
        setTimeout(function () {
            mapEbola.resize();
        }, 250);
        ebolaMap.show();
    });
    coronaButton.on("click", function () {
        inputSearchButtonCorona.show();
        inputSearchCorona.show();
        ebolaMap.hide();
        inputSearchButtonEbola.hide();
        inputSearchEbola.hide();
        malariaMap.hide();
        inputSearchButtonMalaria.hide();
        inputSearchMalaria.hide();
        setTimeout(function () {
            mapCorona.resize();
        }, 250);
        coronaMap.show();
    });
    inputSearchButtonCorona.on("click", function () {
        geocode(inputSearchCorona.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapCorona.setCenter(result);
            mapCorona.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonEbola.on("click", function () {
        geocode(inputSearchEbola.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapEbola.setCenter(result);
            mapEbola.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });
    inputSearchButtonMalaria.on("click", function () {
        geocode(inputSearchMalaria.val(), mapboxKey).then(function (result) {
            console.log(result);
            mapMalaria.setCenter(result);
            mapMalaria.setZoom(2.5);
        }).catch(function () {
            console.log("Failure");
        });
    });

</script>

</body>

</html>
